type: "MARKDOWN_NOTE"
folder: "3cd38cae717eddf0d743"
title: "Farmer"
content: "# Farmer"
tags: [
  "Week_5"
  "incomplete"
  "reading"
]
isStarred: false
isTrashed: false
createdAt: "2017-10-05T18:26:15.034Z"
updatedAt: "2018-07-12T20:32:08.882Z"
