type: "MARKDOWN_NOTE"
folder: "10dee89e4e96c3c3135f"
title: "Farmer"
content: "# Farmer"
tags: [
  "Week_5"
  "incomplete"
  "reading"
]
isStarred: false
isTrashed: false
createdAt: "2017-10-05T18:26:15.034Z"
updatedAt: "2017-10-05T18:26:25.060Z"
