type: "MARKDOWN_NOTE"
folder: "10da02197944423d3888"
title: "September 28, Class 10"
content: '''
  # September 28, Class 10
  
  Readings
  Week 6- Folder, Ch. 9 C&N
  
  NOTES
  Ecologically Unequal Exchange
  Countries advantageously situated in the global economy promote disproportionate access to ecosystem services
  Consequence of globalization, free trade
  Shows how ecological impacts are hidden
  Ecological shadow of global capitalism
  Demonstrates inequality beyond and additions to wealth and poverty
  Explains uneven development
  
  Three Components:
  Environmental cost shifting - displacement ecological costs of consumption
  Uncompensated use of environmental space - EF debtors/creditors
  Herman (reading) talks about changing/expanding carrying capacities & sphere of influence within economic system
  Environmental degradation and underdevelopment - LDC’s overexploit their resources in an attempt to compete
  
  Nature Swaps (beg. 1980’s)
  What is it?
  Mechanism for green financing
  Trade nature for debt
  Can operate at many scales
  Often requires a third party broker (i.e. the UN, Nature Conservancy)
  Highly debated nation sells debt to 3rd party, interest payments on debt go to conservation program
  Way for country to keep its natural resources while paying the principle(?) of the debt
  Historical
  First swap 1987 - Conservation International and Bolivia
  CI purchased face value of $650,000 in Bolivian bank debt for only $100,000
  Bolivia established a forest management fund and expanded forest protection to 2.7 million acres (v. significant)
  
  Strategies for creating a nature swap program
  Local Bonds
  Donation
  Purchase of debt and discounted sale to a multinational corporation to support environmentally sound corporate investments
  Official debt relief tied to supporting environment management 
  
  **Know** how they work, how they got started
  
  Markets and Trade
  Is trade good for the environment?
  
  Market libs: increases efficiency and diffusion of environmentally friendly practices
      know the evidence for those 2 points
  David Vogel
  Jagadish Bhagwhati
  Biopiracy, Vandana Shiva: cost internalization, ecological shadows, scale effect (like rebound effect for trade)
  World Trade Organization
  Moderating institutions can enforce environmental protection
  **Know**: the record, record for enforcement of env. protections in these trade agreements (aka it’s not very good)
  
  Institutionalist
  
  Urbanization in the U.S.
  Definition: (UN)
  Increase the proportion of a population living in urban areas
  Prices by which a large number of people becomes permanently concentrated in relatively small areas, creating cities
  
  Urbanization: 1790-1890
  David Gordon (1978) argues that US urban development followed three phases
  Commercial (Boston/NY along waterways & fronts)
  Before major transportation technologies
  More compact, shares different functions in the same space
  Industrial
  Emergence of class distinctions esp in residential form
  Corporate
  Polycentric, sprawling, driven by corporate economy
  
  Metro areas
  Urban core
  Adjacent counties that share:
  Economy
  Social/political (varying governing arrangements)
  Mayor/Council
  Council/Manager
  Infrastructure
  Cities and their suburbs
  
  Concentric Zone Model: How cities classically build out and develop, cities build out in rings
  
  The Hoyt Model: Not just rings, but the sectors that cut across the zones
      Still has commercial center, still not complete explanation of the modern metropolis
  
  Polycentric: Several centers of development (i.e. Sim City)
      Profound implications for environments: water, energy consumption, etc.
  Think about urban form: esp. sprawl
'''
tags: [
  "Week_5"
]
isStarred: false
isTrashed: false
createdAt: "2017-10-05T15:48:08.393Z"
updatedAt: "2017-10-05T16:43:24.723Z"
