type: "MARKDOWN_NOTE"
folder: "3cd38cae717eddf0d743"
title: "September 19, Class 7"
content: '''
  # September 19, Class 7
  ## Economic Growth and Ecological Footprints
  
  Growth is good according to market liberals + institutionalists
  * Growth is beneficial for its own sake
  * poverty causes overconsumption/ inefficient usage of resources
  * Institutionalists want to subsidize clean energy
  * Market liberals want to subsidize anything that will strengthen markets
  
  Marrakech (or is it sh? the french suck) process
  
  gross national happiness is gross
  
  Market Liberals
  * believe no limits to growth
  	* resrocues are either infinite or substitutable
  	* environment is a subset of the economy
  	* price indicates scarcity
  * measurement
  	* gdp, gni
  * challenges
  	* subsidies, externalities
  	* the poverty problem
  	* the exploitation of the proletariat by the bourgeoisie
  
  YERKIES DODSON CURVE  
  actually the Kuznets curve  
  [kuznets, boyee](https://en.wikipedia.org/wiki/Kuznets_curve)
  
  Maslow's hierarchy of needs has something to do with this shit is whack  
  assumption that economies/ countries are moving along a linear "development" line
  
  ![COIVE](https://upload.wikimedia.org/wikipedia/commons/6/6b/Kuznets_curve.png)
  
  Examples of Kuznets Curve at work in Los Angeles
  * From 1980 to 1998
  * Carbon monoxide cut >50%
  * Nitrogen dioxide cut >50%
  * Ozone cut ~25%
  * High ozone days cut >80%
  * Sulfur dioxide cut >50%
  * Particulate Matter we don't have data on for 1980?????????????????????????????????????????????????????????????????????????????????????????????????
  
  Institutionalists
  * Largely agree with Market Liberals
  * Use HDI to measure progress
  * Seek to spread sustainable consumption & production
  	* ecoefficiency, and marrakech process
  * asdf
  
  Marrakech process  
  ![bless up](http://images.slideplayer.com/47/11745583/slides/slide_10.jpg)  
  Michael Porter
  * makes the argument that waste is a loss of money (BIG IF TRUE)
  
  Environmental imporvement can benefit resource productivitiy
  * process benefits
  	* materials savings resulting from more complete processing, substitution, reuse, or recycling of imputs
  	* increases in yield
  	* less downtime through better monitoring/ maintenance
  	* better utilization of by-products
  	* converstion o fwaste into valuable forms
  	* lower energy comsumption during the production process
  	* reduced material storage and handling costs
  	* savings from safer workplace conditions
  	* elimination or reductino of the cost of activitions involved in discharges or waste handling, transportation, and disposal
  	* improvements in the product as a byporduct of process changes (such as better porcess control)
  
  Bioenvironmentalists
  * gdp includes rebuilding after disasters
  * gdp doesn't consider pollution
  * gdp, hdi don't address environmental quality
  * market failures
  	* externalities
  	* public goods
  	* asymmetric information
  * heavy analysis of markets and how they've affected the environment/ contributed to environmental degradation
  * environmental goods are public goods -> markets won't be efficient for these goods
  * hard for companies to benefit on clean air -> so private sector will not address the issue
  * concerns of greenwashing -> companies promoting products that are environmentally friendly when they aren't
  	* terms like "natural" and "environmentally friendly" used to describe products aren't regulated by the US
  * Growth is not unlimited -> restrained by the environment -> as long as wealth increases, consumption increases, environmetal usage/ resource depletion increases, environemtn is worse off
  * Market distortion problem -> causes rebound effect
  	* when you create a new product that is more efficient -> product is now used more and there is more resource usage
  * Biophysical limits to growth
  	* economy as a subset of the environment
  	* law of thermodynamics (entropy)
  * rebound (Jevons) effect
  	* ecoefficiency can lead to more consumption
  
  Kuznets curve at the far right end environmental decay goes up but like by a lot ja feel, CRITIQUES OF THIS ISH
  * research support is limited
  * externalizatoin
  * cumulative/ permanent impacts
  * research is done in mostly developed countries where the observed effects don't match actual resource usage/ consumption
  
  The ecological footprint
  * ef = a measure translating human consumption into hectares of productive land
  	* different types of land that are used
  	* consumption > amount of productive land available
  * if everybody had a footprint like a quarter-finalist nation in the world cup, how many earths would it take to meet our demand on nature
  	* argentica = 1.6
  	* belgium = 4.3
  	* netherlands = 3.6
  
  Steady state economy
  * an economy where constant physical stocks are maintained at desired levels with a minimal rate of throughput
  	* stocks = wealth and people
  	* throughput = birth/ death rates; production/ consumption
  
  ![hollaback girl](https://jeninbhutan.files.wordpress.com/2014/07/2-gnh-domains.png?w=654&h=615)
  
  there was a weird sound rn wow  
  IT'S STILL HAPPENING WHAT THE FU CK
  
  [2017 world happiness report](https://www.youtube.com/watch?v=Se2gfFKp1Iw)  
  [worldhappiness.report](http://worldhappiness.report/)
  
  Social Greens
  * poverty
  * consumption inequality
  * ecological shadows
  	* unequal exchange
  * growth's impact on the environment is always viewed through the lens of the exploitation of other peoples, one thing missing from market liberals analysis is that poverty is created by a global economy/ global system
  * the current growth paradigm fails to capture the roots of growth (poverty and environmental degradation)
  * rich countries externalize their costs and poor countries receive those costs
  
  Two camps
  |--|--|--|
  |--|ml/inst|bio/sg|
  |view of environment|res
'''
tags: [
  "Week_4"
]
isStarred: false
isTrashed: false
createdAt: "2017-09-19T16:42:55.818Z"
updatedAt: "2018-07-12T20:32:44.348Z"
