type: "MARKDOWN_NOTE"
folder: "7f7ccf74a98a92721020"
title: "September 7"
content: '''
  # September 7
  What are the four parts of an FSM?
  1. states
  2. movements
  3. inputs
  4. outputs
  
  Design a finite state machien that reads in one bit at a time and tells us whether the resulting binary number contains exactly two zeroes
  * 4 states
  	* 0 zeroes
  	* 1 zero
  	* 2 zeroes
  	* 2+ zeroes
  * start at 0 zeroes
  
  Design a finite state machine that reads in one bit at a time and tells us whether the resulting binary number has both an even number of 1's and an even number of 0's
  * 4 states
  	* even 0 odd 1
  	* even 1 odd 0
  	* even 0 even 1
  	* odd 0 odd 1
'''
tags: []
isStarred: false
isTrashed: false
createdAt: "2017-09-07T21:30:02.242Z"
updatedAt: "2017-09-08T18:16:08.063Z"
