createdAt: "2018-04-12T16:48:29.727Z"
updatedAt: "2018-07-12T20:31:04.576Z"
type: "MARKDOWN_NOTE"
folder: "3cd38cae717eddf0d743"
title: "Film in HK"
content: '''
  # Film in HK
  ### Happy Together - 1997, Wang Kar-wai
  * Tarantino is a fan
  * always works with CHristopher Doyle (photographer)
  * style, auteur is very important
  * plot lines are very fragmented, does not give an eleven story?, tends to focus on mood and atmosphere
  * visual style is key to understanding hsi work
  	* bold, saturated colors
  	* camera tends to move around a lot
  	* slo-motion
  * why did they go to buenos aires?
  	* to escape from home/ home city/ life at home (Ho and Lai)
  	* to find the edge of the world (Chang)
  
  What is home?
  * Lai -> love, stability, finality
  	* waterfall
  * Ho  -> instability?
  * Chang -> same as Lai? has an emotional anchor
  
  Home is explored through means of travel, (to be placed or displaced)
  
  2 mainlanders go to hk
'''
tags: []
isStarred: false
isTrashed: false
