type: "MARKDOWN_NOTE"
folder: "735b0bb2bf11c3f27ac8"
title: "Gateway 10/25/17"
content: '''
  # Gateway 10/25/17
  
  have we ever been more out here
  
  this one has a lot of shcol sand medical care and physicians and shit and idk man if we build them people will come
  
  all of the principles the World Bank investigated didn't account for basic economic incentive structure on an individual level and on a national/ societal level
  * failure to apply economic principles to applied policy decisions
  * always think about incentive structure for people you're trying to influence
  	* might be really stubborn idk
  	* understanding resource-constrained nature of planet
  
  There's a component of American culture at play here which sucks a lot don't ja feel
'''
tags: []
isStarred: false
isTrashed: false
createdAt: "2017-10-25T21:12:23.498Z"
updatedAt: "2017-10-25T21:36:49.285Z"
