type: "MARKDOWN_NOTE"
folder: "10dee89e4e96c3c3135f"
title: "October 12, Class 14"
content: '''
  # October 12, Class 14
  
  ###### ur still a moron btw
  
  Guinea/ Donka
  Miscellaneous on donka
  * Hospital built in 1959
  * 2014: maternal mortality was 610/100,000
  * March 2011: maternity had four incubators
  	* one was working; it held five babies
  	* 2006 623 malnourished children admiteted; children slept two to a bed
  * people bring their illnesses to the hospital, illness doesn't bring people to the hospital
  
  Dramas
  * 2009: strieks and protests due to rising prices, falling standard of living
  * civil unrest: 119 patients taken to emergency with bullet wounds; 800 admitted to hospital
  * military shot members of the public in stadium for demonstrating against govenrmnet
  * military shot protester/ patients in donka emergency
  	* shooting estimates unknown really
  		* ~100-250
  	* people will shoot at the emergency room
  
  Ebola: another drama
  * isolation ward set up at donka at perimter of hospital
  * external support from MSF and WHO
  * first case in west africa (ever) was in guinea, rural zone, small boy who died
  * transmissino involved fruit bats and human-human body fluids
  * death toll (2013-15) estimated 2500 of 3400 cases
  
  we
  r
  out
  here
  bois
  BOIS
  B OI  US
  JOIN US
  JOOOOOOIIIIIIIIIN US
  
  cheese?
  cheese?
  cheese????????'cheese'
  economt p
  
  there are so mnay things taht we produce
  
  structural adjustment yolo swag
'''
tags: []
isStarred: false
isTrashed: false
createdAt: "2017-10-12T15:28:00.198Z"
updatedAt: "2017-10-12T16:10:51.180Z"
