type: "MARKDOWN_NOTE"
folder: "3cd38cae717eddf0d743"
title: "September 12, Class 5"
content: '''
  # September 12, Class 5
  ## Research Bioethics Local/ Global Tensions
  
  Quiz: short answer, choose 3 out of 5 terms to explain stuff
  keeping up with basic terms from readings
  
  Ackernacht: did a full dive into the list and type of procedures done outside of surgical setting  
  can a surgery setting exist without the high tech and setting of biomedicine?
  
  e.g. a woman has been in labor for 5 days and is about to die
  
  without antibiotics/ anesthesia, anticoagulants or cauterizing  
  - there is no opportunity to stop death
  
  trepanation is fuckign bizarre what th eheck
  
  #### Research in Uganda: Loue et. al
  Who has the authoritative voice in determining what is "ethical"?
  
  US regulations prevail for research funded by federal grants, regardless of research site
  
  University iRB regulations usually apply as well
  
  But what about studies or clinical trials conducted in other countries, i.e. Uganda?
  
  (Universal??) Ethical principles
  * autonomy
  * beneficence
  * non-malificence
  * distributive justice
  * these are all euro/anglo/american principles
  
  
'''
tags: [
  "Week_3"
]
isStarred: false
isTrashed: false
createdAt: "2017-09-12T15:09:13.123Z"
updatedAt: "2018-07-12T20:32:25.820Z"
