type: "MARKDOWN_NOTE"
folder: "10da02197944423d3888"
title: "September 7, Class 4"
content: '''
  # September 7, Class 4
  
  Next Week:  
  Cities and Nature CH.10  
  Paths to a green world CH.3
  
  ## Globalization; Cities and Nature
  
  Worldviews and the state of the environment
  * No: Market Liberals, Institutionalists
  * Yes: Bioenvironmentalists, Social Greens
  
  Ocean Fertilization – The Planktos Story
  * US Start up that intended to sow the oceans with iron in order to create plankton blooms that would theoretically sequester CO2
  * early 2007 they were selling carbon offsets on its web site
  * civil society groups filed a formal request with the US EPA to investigate planktos activities and to regulate them
  * Planktos fucking sucks
  * Bioenvironmentalists may believe this will increase consumption and therefore it's bad
  
  So is Globalization good or bad?
  * all of the worldviews make empiritical judgements on environmental overviews but make other different judgements on econmic worldviews and the parties and players involved
  
  Progress meters
  * Market liberals: GDP
  * Institutionalists: HDI
  * Bioenvironmentalists: Natural resource consumption/ environmental damage??????????
  * Social Greens: GINI (?)
  
  Critique of globalization = good
  * Montreal Protocol was a wholly unique solution and there are none other like it (CFC prod. was gonna go away anyway)
  * literally lobbying exists
  * power asymmetries exist in global communities so smaller states experience a power vacuum if larger ones step out
  * economic data ignores the entire world
  * global averages/ averages don't look at data spread (inequality)
  
  Critique of globalization = bad
  * developing countries benefit from higher GDP
  * developing countries gain from non-economic (societal) help from developed countries e.g. public health/ social initiatives
  
  ### KNOW:
  #### Evidence provided for each world view  
  #### Weaknesses of evidence for each world view
  
  Globalization = good
  * improving food production
  * global life expectancy
  * rising incomes, EDUCATION
  	* higher literacy rates -> higher standards of life -> lower infant mortality -> lower population growth
  * global cooperation
  	* montreal protocol
  
  GLobalization = bad
  * overshoot
  	* [popclock](https://census.gov/popclock)
  	* vehicles per capita (world bank)
  * inequality
  	* impacts on the poor
  	* ecological shadows
  * waste and sink capacity
  	* carbon sink capacity
  	* emissions etc.
  	* great pacific garbage patch
  * new disease
  	* rising cancer rates
  * biodiversity
  	* 36% of species in "threatened" status
  	* 2% extinct
  	* habitats of major species have dwindled substantially
  * consumption inequality
  
  Cities and Nature
  * cities are the intersection of flows
  	* environmental, social, economic, political
  * cities and nature interact
  	* nature is found in cities
  	* cities impact the hinterland
  * cities don't stop being habitats for other animals	
  	* causes fragmentation
  * cities draw resources from nature
  	* become heat islands
  	* become power sinks
  * cities impact nature through
  	* exports (waste, etc)
  * can't completely separate humanity from natural phenomenon
  
  climate change isn't really all that bad because the planet will be "fine," it's people who suffer
  
  Environmental flows
  * social/ economic/ political dynamics occur in hte middle, affect commerce, resources
  * energy flows into commerce
  * wastes flow into water???????????????
  
  Urbanization Trends
  * 2008, 50% of global population lived in urban area
  	* by 2030, 60% will ive in urban areas
  	* by 2050, 75% will live in urban areas
  * urbanization rate exceeds population growth
  	* urban growth is rapid
  	* over 1/3 live in informal settlements
  	* cities are less efficient at housing people (over space)
  * cities are increasing in size and number
  * significant variation by region
  	* EU, Afriac: 10% < live in large cities
  	* NA, SA, Asia: approximately 20%
  
  city/ urban: increase in population of 1000/ sq. mile (US definition)  
  other measure: units of government
  
  Cities, cycles, flows
  * characteristics of high carbon cities:
  	* autocentric infrastructure
  	* impervious surfaces
  	* reliance on fossil fuels for energy
  * In the US, commuters spend 34 hours in traffic and waste 14 gallons of gasoline (1.9 billion gallons a year)
  * Urban form matters
  	* sprawl = more energy use
  	* density = more efficient energy use
  * relationships to the hinterland matter
  	* locavores v. big ag.
  
  Cities and Nature
  * green/ natural spaces
  	* for people
  	* for other species
  * urban species
  	* rats
  	* leggy boyes
  	* butter with wings
  
  a
'''
tags: [
  "Week_2"
]
isStarred: false
isTrashed: false
createdAt: "2017-09-07T16:34:17.321Z"
updatedAt: "2017-10-05T16:42:30.972Z"
