type: "MARKDOWN_NOTE"
folder: "10da02197944423d3888"
title: "September 5, Class 3"
content: '''
  # September 5, Class 3
  ## Worldviews and Globalization
  the 4 worldviews:
  * Market liberal
  	* most optimistic
  * institutionalist
  	* institutions create mechanisms for technology transfer; gov'ts can work together to protect the environment
  * bioenvironmentalist
  	* the idea of ecologoical economics - we need to think about an economic system that has finite limits
  * social greens
  	* small scale change is suspect to parochialism
  
  Bjørn Lomborg: Market Liberal
  * dude is wild lmao
  
  _insert image of population growth over the past century here_
  
  Institutionalist Summary
  * environmental problems are solvable
  * markets and growth are important
  * need institutions to address the downsides of growth
  * stress the role of governance/ cooperation
  * e.g. Montreal Protocol (e.g. CFC production)
  
  Bioenvironmentalist Summary
  * environment is in crisis
  	* world is beyond carrying capacity
  	* Gaia hypothesis - world is an organism
  * population growth and over consumption of resources are the problem
  * need more restrictions on population growth, consumption
  * may require a single, global government
  
  Social Greens Summary
  * focused on inequality in the system
  * environment is in crisis
  * problem is undistrualism/ global capitalism, exploitation of the poor
  * rich and poor - unequal ecological exchange
  * focus on empowerment, grassroots
  
  a
'''
tags: [
  "Week_2"
]
isStarred: false
isTrashed: false
createdAt: "2017-09-05T16:39:47.938Z"
updatedAt: "2017-10-05T16:42:20.920Z"
