type: "MARKDOWN_NOTE"
folder: "b2018982f772e92139e0"
title: "Gateway 10/11/17"
content: '''
  # Gateway 10/11/17
  
  ##### what is wrong w u
  
  readings: 
  * Landis reading
  * easterly book
  
  
'''
tags: []
isStarred: false
isTrashed: false
createdAt: "2017-10-11T21:05:31.272Z"
updatedAt: "2018-02-01T17:45:16.450Z"
