type: "MARKDOWN_NOTE"
folder: "3cd38cae717eddf0d743"
title: "Gateway 10/11/17"
content: '''
  # Gateway 10/11/17
  
  ##### what is wrong w u
  
  readings: 
  * Landis reading
  * easterly book
  
  
'''
tags: []
isStarred: false
isTrashed: false
createdAt: "2017-10-11T21:05:31.272Z"
updatedAt: "2018-07-12T20:33:09.687Z"
