createdAt: "2018-04-17T16:40:07.993Z"
updatedAt: "2018-07-12T20:30:54.105Z"
type: "MARKDOWN_NOTE"
folder: "3cd38cae717eddf0d743"
title: "In Search of Hong Kong (2)"
content: '''
  # In Search of Hong Kong (2)
  ### Marvels of a Floating City and Other Stories
  #### Xi Xi
  * do the visuals dictate the narrative? the other way around? how do we understand the surrealist paintings in context of the stories they are presented with?
  * two sides of taiwan strait refer to China/ Taiwan, 3rd side would refer to HK
  	* triangulating HK in relation to Taiwan and China
  	* symbolizes a political allegory of HK
  * published in 1986
  
  ### Transcendence of the Fax Machine
  #### 1990, Ye Si
  * author had a secret penname of Xin Huan (the other story writer)
  * wrote a memorial revealing that he was dis dude which is WILD
  * born in Guangdong -> moved to HK wiht fam
  	* PhD in something lit from UCSD
  
  ### A Better Tomorrow
  #### dir. John Woo
  * oh crap
'''
tags: []
isStarred: false
isTrashed: false
