type: "MARKDOWN_NOTE"
folder: "3cd38cae717eddf0d743"
title: "Gateway 10/09/17"
content: '''
  # Gateway 10/09/17
  
  Josh Barro - MSNBC
  
  ### Barro
  Operationalizing discussino of developmentalists/ economics -> things that affect K/ L or other capital
  
  empirical vs theoretical modeling
  * adding variables inherently makes model fit better under empirical frameworks
  
  Charlie Schultz - public use of private interest
'''
tags: []
isStarred: false
isTrashed: false
createdAt: "2017-10-09T21:14:36.834Z"
updatedAt: "2018-07-12T20:33:11.212Z"
