type: "MARKDOWN_NOTE"
folder: "735b0bb2bf11c3f27ac8"
title: "prim strat: deliver the right product to the right cust at tehe right time at the right price"
content: '''
  prim strat: deliver the right product to the right cust at tehe right time at the right price
  
  1980 credit card market: financial inst. offered similar products across spectrum of customer bases, standard 20 percent interest and 20 dollar annual fee, no customisation, one-to-one marketing nonexistent "one size fits all"
  
  credit cards are not banking, they are info
  
  information based strategy -> largest oracle database, market anlaytics, mass-customization prodcut
  
  took 4 years to be profitable in UK
  
  percentage of outstanding bad debt MUCH LOWER, esp considering lends to all customers across sepcturum
  
  
'''
tags: []
isStarred: false
isTrashed: true
createdAt: "2017-09-18T23:28:08.870Z"
updatedAt: "2017-09-21T17:49:57.637Z"
