createdAt: "2018-03-01T17:33:26.929Z"
updatedAt: "2018-03-06T13:37:55.865Z"
type: "MARKDOWN_NOTE"
folder: "fe559436bd547e5b239b"
title: "Post Socialist China (3)"
content: '''
  # Post Socialist China (3)
  GET THESE NOTES FROM SOMEONE DUDE
'''
tags: []
isStarred: false
isTrashed: false
