createdAt: "2018-03-01T17:33:26.929Z"
updatedAt: "2018-07-12T20:31:39.231Z"
type: "MARKDOWN_NOTE"
folder: "3cd38cae717eddf0d743"
title: "Post Socialist China (3)"
content: '''
  # Post Socialist China (3)
  GET THESE NOTES FROM SOMEONE DUDE
'''
tags: []
isStarred: false
isTrashed: false
