createdAt: "2018-04-05T16:50:38.684Z"
updatedAt: "2018-07-12T20:31:17.604Z"
type: "MARKDOWN_NOTE"
folder: "3cd38cae717eddf0d743"
title: "Hong Kong Colonial"
content: '''
  # Hong Kong Colonial
  1843, June 26 - Treaty of Nanjing
  * occurred after the first Opium War
  
  Chinese Community
  * a communal identity
  * CA gold rush is first influx of Chinese into HK (1848)
  * Taiping Rebellion (1850-1864) is second influx
  
  entrepôt
  
  The only thing binding them together was the pursuit of economic success (this brought the Chinese and British together under one roof, which allowed them to flock to one island, HK)
  * despite problems typical of any colony, they did work together very well
  
  Characteristics of HK identity
  1. it is a hybrid of traditional chinese culture and western modernity
  2. this identity operates on a very captitalist impulse
  3. this was a community based identity
  
  HK did not exist in a vacuum, major Chinese events would eventually ripple over to HK
  * 1911 revolution (end of Qing dynasty), HK during this time served as a safe haven for the revolutionaries (some donated a lot of money for this revolution)
  * played a role of taking in refugees and political dissidents
  
  Civil War (split of 2 Chinas)
  * this split brought ambivalence to the HK people
  * at this stage, (post Civil War and during Cold War)
  	* perception of China was split into 2 separate things
  	* political china vs. cultural china
  		* don't identify with the communists but still identify with chinese culture
  
  1960s/ 1970s
  * localized "Hong Kong" identity
  * locals are now impacted by various cultures from around the world, more pronounced as the HK economy was integrated further into the global economy
  * collective cultural identity has to be based on a very solid local popular culture
  
  In the area that borders the Guangdong province (and HK), you'd see Chinese start to smuggle themselves over to HK
  * HK see and fele that they are very different from Chinese since HK is now a middle class society
  * HK economy during this time (60s/ 70s) went off in full force and transformed from regular ass place into a modern industrial city
  
  1974, Independent Commission Against Corruption (ICAC)
  * allowed citizens to just focus on making money
  
  1980s
  * period allowed for MORE money and led to indigenization of popular culture
  * television/ radio/ music now marketed to appeal to local consumer market
  * served as the cradle for an indigenous cultural identity
  	* creates an imagined community
  		* proposed by Benedict Anderson - "the fact that we feel like we are a member of a nation is because we have a sense of an imagined community"
  * created by media culture -> watching teh same news, reading similar newspapers, listen to same pop music, we watch hollywood films, watch popular tv dramas, sharing simlar cultural information
  * the booming of pop culture did not only enhance HK culture, but influence also reached close-by countries
  	* dim sum, kung fu films
  	* influence on chiense popular culture is particularly important
  		* in 80s, Chinese society is now reformed, but Chinese popular culture was quite lackign
  		* all the songs and soviety union style films were all they had
  		* HK exported a lot of its popular culture (along with Taiwan) to China
  		* politically these 3 places were still distinctly separate, but culturally they were now becoming very similar
  * transforms from modern industrial city to global city, world-class financial center
  * way of life in HK became cosmopolitan as a result
  * the 80s is supposed to eb a happy time for the HK, UNTIL
  
  Joint Sino-British Declaration - 1984
  * they have to hand Hong Kong back to China bc "99 years" is over, HK and Kowloon etc were "leased" to Britain
  	* OH FU CK
  * people in HK realized the invetiable return to PRC
  
  And then came June 4, 1989 -> Tianamen incident (shit is abotu to go wild)
  * wake up call to HK people bc before this incident took place sentiments among the HK Chinese fell into 2 camps
  	* fear
  	* China Syndrome (let's do this! let's be reunited)
  	* this is fuckign crazy
  * if there was any nostalgic sentiment before thsi incident, it crashed as a result of this incident
  * collective uneasiness from rejoining China came from direct lack of trust in authoritarian regime
  
  1997 Handover
  * the era of 1990s began a hsitoric diasporic phase
  * peaceful protesting is a major part of this
  * and then were promised 50 yrs of no change
  	* half of the governing counsel is designated by Beijing (other half are by popular action)
  	* HK people have been fighting against this form of interference
  * 2047 is when this ish will happen again
  * only way for HK to survive is for the city to go global and become an independent state
  * Taiwan has its own army and mock government/ military and economy (econmy is a tricky thing since it's part of a global economic network)
  
  ppl would go and buy real estate on the west coast bc shit is wild
  * hong kong ppl were most apolitical people on the planet
'''
tags: []
isStarred: false
isTrashed: false
