type: "MARKDOWN_NOTE"
folder: "10da02197944423d3888"
title: "CH.1 - Cities & Nature"
content: '''
  CH.1 - Cities & Nature
  * the city is a part of the ecosystem
  * environmental processes are filtered through social arrangements of political and economic differences
'''
tags: [
  "cities_and_nature"
]
isStarred: false
isTrashed: false
createdAt: "2017-09-05T16:11:20.881Z"
updatedAt: "2017-09-05T16:12:18.820Z"
