type: "MARKDOWN_NOTE"
folder: "10dee89e4e96c3c3135f"
title: "Muramoto"
content: "# Muramoto"
tags: []
isStarred: false
isTrashed: true
createdAt: "2017-10-05T18:22:58.220Z"
updatedAt: "2017-10-05T18:23:15.725Z"
