type: "MARKDOWN_NOTE"
folder: "f3002baa40a1efa4558c"
title: "Bid vote"
content: '''
  Bid vote
  * Meeting jordan -> entry/ exit
  * Food order needs to be figured out this week ->
  * Qualtrics/ Google forms
'''
tags: []
isStarred: false
isTrashed: false
createdAt: "2017-09-18T00:58:52.386Z"
updatedAt: "2017-09-18T01:01:26.351Z"
