type: "MARKDOWN_NOTE"
folder: "735b0bb2bf11c3f27ac8"
title: "Gateway 10/02/17"
content: '''
  # Gateway 10/02/17
  ## Sense of accomplishment
  Tipping point models
  
  [malcolm gladwell talked about it](https://en.wikipedia.org/wiki/The_Tipping_Point)
  
  Steven Radelet: 3 things drive development
  * change in global geopolitical conditions
    * end of the cold war
      * satellite countries from both America/ USSR now have to contribute to global economy without contributinos from patron countries
      * economic/ social/ political exchange changed for many countries
      * new countries needed to start taxing more to finance gov't operations
  * globalization, new technologies providing new opportunities
    * integrated markets
    * everyone now has to basically deal w the US economy
    * american industry could now participate in other countries
    * technological leakage
  * key leaders (the right skills)
    * in developing countries in particular
    * political/ economic/ social leadership
    * as
    * 
'''
tags: []
isStarred: false
isTrashed: false
createdAt: "2017-10-02T21:10:56.783Z"
updatedAt: "2017-10-04T21:09:36.855Z"
