type: "MARKDOWN_NOTE"
folder: "10dee89e4e96c3c3135f"
title: "Pfeiffer & Nichter"
content: "# Pfeiffer & Nichter"
tags: [
  "Week_1"
  "incomplete"
  "reading"
]
isStarred: false
isTrashed: false
createdAt: "2017-10-05T18:11:03.663Z"
updatedAt: "2017-10-05T18:11:21.822Z"
