createdAt: "2018-02-20T17:40:17.147Z"
updatedAt: "2018-07-12T20:31:46.566Z"
type: "MARKDOWN_NOTE"
folder: "3cd38cae717eddf0d743"
title: "Post-Mao China: Remembering the Hunger (2)"
content: '''
  # Post-Mao China: Remembering the Hunger (2)
  Can Xue - "Hut on the Mountain"
  * weird to classify as scar literature, kind of avant-garde, altogether is rly bizarre
  * great leap forward -> time was valued/ speed was valued -> everyone was really conscious of keeping time
  * time in this piece is kind of twisted
  	* emotions/ effects -> even though there is a sense of time the "passage of time" is not important
  * usage of space is more important/ pertinent to this story
  	* lots of physical spaces present in the story
  	* interior and exterior spaces (inside vs. outside, drawers, the hut, etc.)
  	* spatial images - > psychic space vs. physical spaces
  * what does the hut represent?
  	* literally who fuckin knows
  	* she must climb up a mountain in order to reach the hut
  		* "sunshine made me dizzy"
  * psychoanalysis of situations
  	* "seeing that person in the mirror" with two purple pouches under his eyes
  	* purple pouch eye man is mentioned again
  	* perhaps the purple pouch eye people are both the same people
  	* the hut could potentially represent a "safe space" that she can no longer inhabit or get to
  	* bc the hut "disappears" and she gives up on searching for it demonstrates that she has mentally lost that "safe space"
  * writing may be an unconscious writing that reflects trauma that's deep down
  
  Liu Hung - "Dogshit Food"
  1954-
  * seen as a realist writer/ new realist
  * became a professional writer in the 70s after working as a factory worker, farmer, and solider (did everything)
  * draws inspirations from those experiences
  	* depicts people from those social classes
  	* is concerned about the individuals who have been "forgotten" by society
  * 1977-76 -> Mao dies, a lot of formal urban youth are now allowed to come home, come back to cities with no proper education
  	* economic structure changed, totality of China changed
  	* these people have no tangible value for China, and therefore are called the "FORGOTTEN GENERATION" oajfowieja;wejif;woejfiwhefef spooky
  * this story is primarily about hunger
  	* one of the most written about topics in post-real/ modern china
  		* no food to eat -> yikes
  		* hunger can also be characterized as (
  		* 4(10)*234 
  	* big feast
  	* im so lost
  	* centerpiece: nicelt roasted succelent
  	* ABBAYABY
  	* what heppend here
  * what are the basic tenets of teh characters in this story?
  	* basic human needs -> sex/ food
  * is the marriage actually good?
  	* who's to say?
  	* some S A B A G E moves happening here
  	* r they even affectionate not rly
  	* wild
  	* she's literally named goiter
  	* marriage is rooted in utility/ convenience -> there might be some kinda spell that he's under, trying to convince himself that he could be affectionate for her
  		* in a very veyr hard time, husband and wife are like a team and support each other, see their family through
  		* but also maybe he only admired her bc of her utility
  		* but also in this time of extreme deprivation -> is it a luxyry to even feel any human emotions? is it too much to waste time feeling emotion? one thing that distinguishes us from other species is "love"
  			* Dr. Chen - "actually I know my cat loves me" she is literally my fave omg
  			* are we supposed to turn into animals in trying times?
  		* makes us thing further about what generates love between two people? is it just pure attraction?
  * Liu Hung -> why does he create such characters?
  	* something very human about the people in the story
  	* goiter dies a super ironic death
  	* she's supposed to be ugly af RIP
  		* and yet she's not bad, she's fierce
  		* she's a survivalist
  			* can't say she's a bad person no matter what she does
  	* goiter was lazy af and nobody rly knows what's going on here im so tired rn holy cow pl slet me get out of here lmao i really dunno man i need this to stop asap ferg
  	* threatens other families in order to save/ protect family
  * the characters in this story are very unlikely
  	* their actions/ mentality were all very real
  * ugly characters -> importance, bc htey are everywhere in postmodern literature
  	* most unlikeable/ unloveable characters
  		* physical deformities
  		* crazy
  		* very deprived
  		* not beautiful or pretty
  		* mutilated body potentially
  		* or hideous in general? eedious? wtf/ wtf.
  * trauma is inscribed in the body -> goiter, iron child
  * this metaphorically deconstructive strategy of body politics generates a hidden testimony to the corporeal abjection in the maoist collective communal body, raising questions about the brutal erasure of the individual
  	* post-mao, they can now think about individuality, and can now write about it, before going on to rebuild individuality, they have to handle the super fucked up maoist collective ideals they were subjugated to
  
  Mo Yan - "Iron Child," 1993
  * all had very similar experiences during Mao's time
  * first chinese writer to OFFICIALLY win Nobel prize in literature -> 2012
  	* not a mouthpiece of the party
  	* writes a little too much
  		* novels need more editing
  		* chinese writers dont have credible devoted honest editors
  		* Mo Yan was out here
  	* go xin jien was the first to unofficially win it, Chinese gov't did not recognize it bc he was a CCP member decided to 
  * studied a bunch in france, had haldflkjwefjwlkjqwoiehg
  * nobel prize for literature
  	* chinese gov't refused to recognize it bc of this one dude's politics
  	* taiwanese gov't invited dis dude over here
  	* gave the dude millions to produce his play
  * Mo Yan pointed out that he's referring to this child "Blackie" as a separant child, says he identifies w this child most closely to himself
  	* superhuman ability to suffer, and superhuman ability to idk
  	* he rly likes dis dude we get it WE GET IT
  * the first characteristic Mo Yan describes is his "superhuman ability to suffer"
  * the underlying tone of trauma and victimhood is discernible
  	* story set against the backdrop of great leap forward and great famine
  * likes to create a magical world for his child character
  	* in this magical world, this child can find temporary solace
  	* one way to cope with reality is to create a fantasy and escape into it
  * is the iron child imaginary af? probably -> worse grammar, rhetoric becomes more like stream of consciousness
  * during the great leap forward, efforts should be given to produce food (raising chickens, rice, fish, growing other crops) -> efforts were all directed towards smelting iron
  	* iron takes the place of literal food
  	* this iron child is what woo di conjures up, gradually becomes real
  * running away bc the current structure of life has failed him, no adults to protect him/ no parents, children have to fend for themselves somehow, so why not create this magical friend and a magical world where children indeed can be protected, but the flipside is something super sad
  	* i h8 this
  * during the time of the great leap forward -> the real reality seemed stranger than irrational worlds craeted by authors
  * sandwiched in between Mo Yun and Can Xue is Liu Hung
  * what is real and what isn't?
  	* nobody can figure out how to best portray or capture reality? -> the madman's diary
  		* real life representation of this phenomenon
  * Lu Xun -> credited with starting modern Chinese literature -> trying to capture what is Real/ Truth, after so many decades writers are still capturing what is Real
  	* shit is heavy as fuck
  
  THURSDAY:
  * going to look at slightly younger group of writers
  * gonna have WHO WHAT and WHAT WHY and WHY HOW and hello what who when where why how im so confused and tired rip in pieces
'''
tags: []
isStarred: false
isTrashed: false
