createdAt: "2018-02-08T17:38:32.910Z"
updatedAt: "2018-03-06T13:38:26.947Z"
type: "MARKDOWN_NOTE"
folder: "fe559436bd547e5b239b"
title: "BEGINNING: Literature of PRoC"
content: '''
  # BEGINNING: Literature of PRoC
  # "Reality in Socialist China: The Mao Era (1)"
  #### 1949-1976
  ##### Major Events:
  The Land Reform: 1947-1950
  "Let A Hundred Flowers Bloom" Campaign: 1956-1957
  Anti-Rightist Campaign: 1957-(never officially ended)
  Great Leap Forward: 1958-1961
  Great Leap Famine: 1958-1961
  Cultural Revolution: 1966-1976
  
  Heavy coercion when it came to being involved
  * intellectuals were rounded up and then absolutely fuckin destroyed -> Anti-Rightist Campaign
  	* Mao needed A B S O L U T E &nbsp;&nbsp; C O N T R O L
  	* previous landlords gave up their land (land reform)
  	* peasant tenants -> all got land, very popular among majority of the Chinese population
  
  Communist Bloc
  * soviet union was China's big brothers
  	* USSR was more technologically advanced
  	* USSR was birthplace of communism, china learned communism from the USSR primarily
  * USSR's own politics was changing since it was not homogenous
  * Mao made a trip to the USSR and was very poorly received, Mao was offended, Mao came home and made a push to being self-sufficient
  	* made a very quick effort to industrialize (great leap forward)
  	* "backyard smelter" scheme
  	* People's communes
  		* this is super fucked up kind of
  		* nobody was farming or attending to animal
  		* CONCURRENTLY THE GREAT FAMINE OCCURED
  			* cannibalism started happening
  		* Steel/ Grain production rise
  		* when you localize the increased grain production -> in a township, there will be a central barn where all grains stored, guards guard the barns, peasants are starving bc they dont have food (all grain goes to local gov't), absolutely forbidden to steal, peasants had no food, couldn't steal, grains were rotting in the warehouse, the local officials were feasting themselves, lots of testimonies to back these up, horrible situation
  		* within 3 years, 40 million people died of starvation
  		* the chinese economy came to a stand still
  		* greatly damaged Mao's power
  	* certain levels of privatization were now allowed
  	* people were now allowed to keep what they grew
  * Mao Zedong came back with the cultural revolution (1966), we have to stick to socialism/ communism, Mao Zedong felt that the Chinese people were forgetting the revolutinoary cause
  * Mao steps forward to the public, mobilized young students (high school + university), Mao's popularity was still damaged but he was still Chairman Mao, published an Op. Ed directed at students to fight against capitalist rodents
  * Red Guards -> students came up with this term (not Mao), received students in Tianamen square, gave out the red armbands that amde up the red guard
  	* 1966-68: bloodiest/ most violent period of the cultural revolution
  		* "to rebel is justified"
  		* legacy of iconoclasm and May Fourth Movement
  			* anti-authority
  			* anti-establishment
  			* destruction of order
  			* the cultural revolution is considered the climactic/ end of the May Fourth Movement
  		* Mao recognized that these kids were getting the fuck outta control, sent them to mountains/ countryside to learn from peasants
  		* "Going to the Mountains, Going down to the Village"
  		* if you married a local you could not come back
  		* primarily urban youth were displaced
  		* called send-down youth or educated youth
  * Power then fell into the hands of "The Gang of Four"
  	* was considered "a time of purity" -> pure devotion to Chairman Mao and lives were simple
  	* stark contrast from current capitalist Chinese society
  * early 1930s to mid 1960s, many countries across the globe changed, few changed as much as China
  * numerous previously colonized countries were decolonized, 60s/ 70s USA Vietnam war was occuring, sivil rights movement
  * Chinma and the rest of the world are not in sync, USSR falls as well, NK/ China become the biggest strongholds of communism
  	* (china still isn't even that socialist today rofl)
  * this entire Mao era was marked by endless death caused by disasters natural and manmade
  	* the commune was fucked up
  	* the famine was fucked up
  	* the communes dismantled family structure, esp in China where family was incredibly important (even though later it was put back)
  	* cultural revolution destroyed the fabric of interpesronal relationships, trust, and connections
  	* confucian ethics were commpletely overthrown
  	* no decency/ sympathy/ compassion since you dont know who was going to struggle against you
  	* today in chinese society there are remnants of these things
  * post 1949, May Fourth was transformed by hedgiography(?) into the birthplace of China's destiny in the CCP
  	* the CCP is no different than a dynastic power
  	* great leap forward showed an obsession with science
  	* individualism, free-thinking, iconoclasm, embrace of the foreign in being mordern were all gone
  
  Talking about the Mao era is difficult/ controversial, perception of red China is negative/ antagonistic (as a result of cold war)
  * Taiwan is the "free China"
  
  DR. CHEN IS OUT HERE WITH A NEW BOOK
  * reading new books from the lens of distinct memory
  * how writers who grew up during the Mao era (in different ages), how they use their childhood memories as creative inspiration
  * these stories can bear historical witness to teh pastw
  * dr. chen's project focuses on the anti-rightist campaign, great leap forward, great famine, the cultural revolution -> the human costs and efforts behind these politicla campaigns
  * 9/10 times people were both victims and perpetrators during these political campaigns, when a person takes the role of victim and perpetrator, how do we discuss justice? does suffering cancel out other crimes? do we just forget it?
  	* studying the holocaust/ holocaust studies were beneficial
  	* all of the thoughts were through the lens of memory
  	* how do we treat bystanders? how are they defined? 
  	* during teh cultural revolution, people were FORCED to be bystanders
  	* introspection on common human behaviors
  
  for the short stories were going to read
  * when we talk about memory:
  	* differentiate generational memories
  		* 21 yrs old, sent down to teh mountains
  		* 30 yrs old, labelled a rightist and sent to a labor camp
  		* as an adult, your memory is much clearer
  		* as a child (5 yr old, witnessed the red guards hitting your parents), how you remember this is different than how you would remember it as an adult
  		* the act of remembering, is very much an act of imagination
  	* memory is a personal recollection of important events
  		* we forget more than we remember -> this i swhy omagination is important, also why memory is unreliable, if you read intellegently and carefully, you can compile and picture
  
  
'''
tags: []
isStarred: false
isTrashed: false
