createdAt: "2018-02-22T18:20:54.508Z"
updatedAt: "2018-07-12T20:31:42.004Z"
type: "MARKDOWN_NOTE"
folder: "3cd38cae717eddf0d743"
title: "Lu Xun"
content: '''
  Lu Xun
  embodied modern Chinese literature
  died in 1930s
  traditional classical education
  went to Naval academy, studied western medicine (in Japan?)
  
  famous story about Lu Xun’s time in Japan
  japanese professor showed a slideshow -> showed Chinese man bound and held up by Japanese soldier, ready to execute, Chinese bystanders stood around idly/ with a glazed over look on their face
  Lu Xun was humiliated by the slideshow -> the illness faced by his Chinese brethren wasn’t physical but mental (and thus started his writing career?)
  
  Madman’s Diary established his foothold in the literary field and was the most influential person in Republican China
  Lu Xun -> penname, was a secondary name for writers
  real name is Zhou Shuren
  
  Madman’s Diary - 1918
  	eating people/ cannibalism
  	craziness/ madness
  	trustworthiness of the story/ preface
  	lessened impact as a result of preface
  	a diary
  	“save the children”
  
   preface changes the entire meaning/ interpretation and staging o the story
  	diary itself is an allegory, but the preface + diary is not
  
   the preface is originally in classical Chinese while the diary is in vernacular Chinese
  	preface = framing of the story (frame this allegorical tale using classical Chinese) -> means of normalizing story/ providing useful/ relevant context
  
  Confucian virtue is symbolized through cannibalism
  	“changes of the mind” -> people consuming new ideas, killing ideology and freedom of people
  	
  Confucian teachings are suppressive of “free thought,” shutting of new ideas (hence cannibalistic)
  conveyed through the private medium of the diary to further convey “restriction of thought”
  
  Craziness/ Madness
  	challenges the opposing idea/ or what “normal” is
  	Lu Xun was reluctant to challenge Confucian virtue, also reducing impact through the different vehicles used in the preface (saying the man was a “madman,” using classical Chinese, reducing impact by saying the man is “ok” now)
  		display of reserved optimism
  
  Lao She (pen-name) - 1936
  	born into Manchurian family which resided in Beijing
  	father was a guard of the imperial palace, died guarding the forbidden city during the boxer rebellion
  	self-taught (graduated from normal school and then started teaching)
  	studied in Beijing University, 1924-1930 -> went to England taught Chinese at London School of Oriental Studies
  	stopped by Singapore/ other Asian countries on way back
  	published stories while abroad -> depiction of Chinese in a foreign country
  	exploration of interracial relationships and the movement of the individual Chinese abroad
  	going abroad is an incredibly important aspect of the writing of these authors
  	after 1949, nationalistic gov’t lost and Mao Tse-Tung took over, Lao She wrote 23 plays that were all very formulaic
  	the Tea House (play) -> red guard (high school/ college students) persecuted him, threw himself in a lake (for some reason people laughed at this???? wtf)
  	marked the end of a generation for these types of articles
  
  old thought/ Confucian virtue while being more “pure” will be left behind
  	sympathetic
  	nostalgic
  	acknowledgement of new ideas
  	symbolism of virtuous/ hierarchy/ Confucian philosophy/ authenticity (conveyed through the quality of the silk)
  	
  old ways in China are being destroyed very quickly through war, imperialist thought, “spheres of influence,
  	lamentation of “changing ways” but the manner in which things are changing (forced change, quick destruction), expressed in a sense of nostalgia (don’t want to let go, but there is an inevitable nature ot letting og)
  
  Ba Jin (pen-name) “Dog”
  	born into large land-owning family
  	was the “darling son” of his mother
  	considered himself driven to serve the suffering/ injured
  	sensitive to class (writes with a down-trodden rhetoric, likes to signify class differences)
  	Chairman Mao had a very clear directive as to how artists should make art -> Ba Jin was condemned during cultural revolution, forced to separate from his wife, Ba Jin was one of the first to speak up about “what really happened” during cultural revolution
  
  evoking anger/ emotion about how submissive Chinese people are to the whims of Westerners/ imperialists
  	orphans (fending for self, no assigned identity)
  	themes of nationalism/ classism and international dialogue
  	decay of the temple -> emblematic of the decaying society at the time
  	need for reform -> led to Confucianism as a scapegoat for change
  	boys reaction to treatment and creation o identity is more telling
'''
tags: []
isStarred: false
isTrashed: false
