createdAt: "2018-02-06T17:36:55.768Z"
updatedAt: "2018-07-12T20:31:51.223Z"
type: "MARKDOWN_NOTE"
folder: "3cd38cae717eddf0d743"
title: "\"Going Down the Revolutionary Road\""
content: '''
  # "Going Down the Revolutionary Road"
  ### Essay Topics
  rip in pieces
  #### leaving the may fourth era -> nearing 1940s
  #### Mao Dun, leftist writer, penname means "conflict"
  * father wanted him to become a scientist, father died young, Mao Dun went on to pursue a a career in literature
  * had a career as a commercial writer at the press in Shanghai, went on to become editor
  * 1920s, editor of Sho- story magazine (quite short-lived)
  * was well read in western literature
  * became involved in modern politics in 1920s, became a propagandist for a provincial government
  * best known novel is _Midnight_
  * during war years, he was very active, creating very political works
  * 1949 -> PRoC was created, stopped writing creatively and took on the role as a leading bureaucrat in gov't
  * minister of culture, high-ranking official in central gov't
  _Spring Silkworms_ published in 1932
  * theme: traditional vs. modernity (inevitability/ futility of Western technology)
  * history is moving on a set schedule for progress (social Darwinism), and the farmers here are pitted against the grand schedule of history
  * traditional thought gets left behind
  * tradition vs. technological revolution
  * Do you see a communist apocalypse in the distance?
  	* story depicts evil nature of capitalism
  	* the evil nature of market structure and dependence on markets
  	* neither ridiculing the peasants nor is he condoning the dependence on market economy
  * left-leaning writers were still shaping their ideology, figuring out a way to bring equality to Chinese society
  * belief in fate/ destiny -> individual pitted against grand scale of societal destiny
  
  #### Dai Wangshu
  * translated a lot of French/ Spanish/ Russian literature, well versed in foreign languages
  * 1938, left Shanghai to go to Hong Kong
  	* became heavily involved in anti-Japanese aggression movement
  	* was arrested by Japanese police for his conduct, composed this poem during his time in prison/ jail
  	* 1942, released from jail, 1945 -> Japan bombed Hong Kong
  * 1945 -> Japan lost WWII, went back to Shanghai, ran into the Chinese civil war (nationalists vs. communists)
  * arrested by nationalist police for subversion (was forced to leave China for Hong Kong again)
  * returned after Civil War ended to the PRC, health declined, died in 1950
  _Written on a Prison Wall_
  * first stanza is first person
  * 2nd-4th stanzas shifts to 3rd person and discusses his other comrades
  	* establishing companianship/ comradery with others who are also in prison for the same reasons
  	* 3rd stanza => recognition of martyrdom and recognition of japanese torture
  	* show his determination and how large his sacrifice would be
  
  #### Ai Qing
  * began as an art student, sent to France on gov't scholarship to continue education
  	* read massive amount of Western literature, particularly impacted by capitalism/ markets and leanings on poor
  * 1932 -> returned to China, immediately joined association of Chinese artists of the left wing
  	* arrested for subversion by nationalist gov't
  	* got out in 1935
  * 1945 -> became a communist member, was in PRC gov't
  	* could not escape cultural revolution, was sent to northwestern part of China (labor camp)
  	* status as a poet was restated in 1978 after ??? wall fell
  _Snow Falls on China's Land_
  * first 2 stanzas
  	* China is blockaded by something
  	* wind is anthropomorphocized as a grief-stricken old lady
  	* the poet is speaking ("you, farmers of China"), standing above them all, or as a bystander
  * 3rd/4th stanza
  	* identifies with the farmers themselves
  	* "with my education, i am no happier than you," lack of control through usage of time
  * 5th/6th stanza
  	* leit motif (melodic bar that appears from time to time)
  * 7th/8th
  	* a very specific scene is depicted
  * 9th/10th
  	* tying this to a larger concept
  	* China's path forward is unclear, and the (whatever the opposite of beneficiaries is) are these mothers
  * 11th/12th/13th
  	* this snowy night becomes a symbol of the long suffering of China and the fate of the Chinese people
  	* leitmotif -> in music or in poetry as the theme/ emotion/ sentiments builds up, the meaning of the leitmotif gets added
  	* "Can it bring you a little warmth" -> finding solace in solidarity and the "shared" fate
  * paradox of May Fourth literature and intellectuals -> write these stories but not much of these can reach the grand majority of the Chinese peasants
  
  #### Quick review over May Fourth revolution/ A Bitter Revolution
  **what major changes did this movement incur**
  * young students, international community attention was wanted
  * encouraging experimentation
  * using Confucianism as a scapegoat -> anti-Confucianism
  * western capitalist modernity is being promoted
  * traditional ways of life are now deemed unfit for the time
  * new political system (no longer dynastic), China is now a Republican/ modern nation state
  
  **Role of Beijing and Shanghai**
  * Beijing is the political/ intellectual center
  * Shanghai is the culture center (Paris of the orient)
  * leftism/ leftist radicals
  * romantic/ liberals on the right
  * Chinese Communist party was founded -> 1921, Shanghai
  	* irony since Shanghia is a center for capitalism
  
  **Iconoclasm**
  * read as anti-Confucianism
  * used as in "self"hood
  	* in traditional culture, the individual is just a piece of the bigger machine
  	* identity/ individualism is now important (New Woman), gender/ sexual identity
   * traditional China -> identity was social status, was now considered more than that
  * used as in nationalism
  	* emporers were mandated by heaven (dynastic control, divinity)
  	* what form did Chinese nationalism take?
  	* racially defined (a Chinese race)
  		* Qing dynasty was "Manchu," all of these different ethnic groups were now one Chinese race
  	* equal citizens -> "we are all citizens, so we all have equal rights"
  	* based on science and democracy (emphasize secularity), progress
  * after WWI ended, pres Wilson promoted the "league of nations" but world plummetted into WWII rip
  	* promotion of fascism/ global economic depression
  	* rise of dictatorships (Hitler, Mussolini, Japanese militarism)
  * nationalists vs. communists
  	* the question of women (hence, class)
  	* 1937-1945 anti-Japanese aggression, forced both parties to work together
  * May Fourth generation has a very long-lasting impact later on
  	* social darwinism -> underpins different choices of modernization for China
  	* free thinking, individualism, iconoclasm was still floating around in society
  	* in terms of governance, more liberal thought was not tolerated by KNT or CCP (nationalist/ communist parties)
  * end of WWII, civil war 1949, whole world entered new phase called The Cold War
  	* communist bloc (Soviet Union) + free world (United States of America)
'''
tags: []
isStarred: false
isTrashed: false
