type: "MARKDOWN_NOTE"
folder: "10da02197944423d3888"
title: "August 31, Class 2"
content: '''
  # August 31, Class 2
  ## Globalization and Urbanization
  
  think about these 2 topics simultaneously yo
  
  donuts in front of the duc september 1, be there or be square
  
  Krummenacher sounds like a really good donut tbh
  
  Next week: Ch. 1+2: Paths for Green World  
  	Ch. 1+4 -  Cities and Nature  
  	Blackboard Week 2
  	
  Article: *WaPo impermeable surfaces houston*
  
  Houston is the unregulated city; the city is impervious to zoning regulations, Houston therefore suffers from uncontrolled growth which is unsustainable
  
  600 mil people around the globe live in coastal areas
  
  physical immigration is still just as hard; however, the cost of global commerce has gone down signfiicantly, the opportunity cost of coming to the United States is becoming larger and larger as the world becomes more globalized
  
  #### KNOW THIS:
  What is Freedman arguing regarding this recent era of globalization and what is driving it?
  
  Globalization 3.0:
  - Integration, interconnected
  - Accelerated
  
  Driven by:
  - Transport (reduced time/ cost)
  - Tech
  - Economics (integrated + interdependent)
  - Env Problems (requires collective action on a global scale)
  - Distribution of resources and specialization
  
  Things occur at a faster pace (evolutino of technology/ markets globally)
  
  ##### VIDEO: Social Media can create History
  people documented  potential voter suppression in order to create a more honestvoting experience
  
  this sort of feat creating social capital is not possible until the technology becomes "mundane"
  
  the internet is the first form of media that has native support for conversing with groups
  
  every medium is now closer to each other
  
  Metros Matter
  - Increasing global integration: since 1950, the share of global output from trade has tripled
  - Expanding global middle class: globaly consumption by market type is increasing at a faster rate in emerging markets/ areas
  - Metro areas drive global growth
  - 300 largest global metro areas make up nearly half of GDP but only 20% of the population
  
  GLobal economy
  - citiies are centers of commerce, international markets
  - source of innovation, efficiency
  - nodes of the global network
  
  Is globalization good for the environment?  
  How do we know? What is the evidence?
'''
tags: [
  "Week_1"
]
isStarred: false
isTrashed: false
createdAt: "2017-08-31T16:37:34.680Z"
updatedAt: "2017-08-31T17:52:59.663Z"
