createdAt: "2018-03-08T17:42:01.798Z"
updatedAt: "2018-07-12T20:31:37.616Z"
type: "MARKDOWN_NOTE"
folder: "3cd38cae717eddf0d743"
title: "After the Great Divide: Sentiments of Displacement"
content: '''
  # After the Great Divide: Sentiments of Displacement
  Easy for Japan to govern Taiwan since the population was more heterogeneous, less of a colonial order/ identity or allegiance towards China/ Qing dynasty
  
  Completely different story in Korea: Korean people had lived in the peninsula for 1000 yrs
  * Pre-colonial Korean identity: Korean gov't -> the general colonial gov't was run by generals in Japan
  * much more forceful cultural shock
  * governance was more militarilty driven
  * early Japanese colonialism in Taiwan was similar to Korea except for a couple of ways
  * comfort women -> at least 400,000 women were forced to serve as sex slaves for Japanese military
  * included SE Asia, China, small number of caucasian women, and even some Japanese -> but still mostly Korean
  	* at least 200,000 were Chinese (during Japan's invasion of China)
  	* all groups were tortured to death
  	* Shanghai is where the system started
  	* \\> 140 comfort houses established by Japanese in Shanghai
  	* \\> 10,000 comfort houses all over in China as a whole
  	* aight im p disturbed now and were not even talking about Taiwan anymore what hte fuck
  * Number presented by Japan was much smaller/ almost half in comparison which is messed up
  
  Taiwan @ Cold War
  * approx. 2 mil mainlanders came to Taiwan
  * Cold War -> Communist bloc v. free world
  * United States now became Taiwan's big brother
  	* lots of foreign aid
  	* lots of advanced weaponry entered Taiwan
  * Industry expanded in 60s/ 70s
  	* Chiang Kai-shek wanted to modernize using the infrastructure laid out by the Japanese colonial government
  	* US $$$ + technology and technocrats coming in, this was ez
  	* exported textiles, footwear, plastics, and cheap electronics (esp. to USA)
  * economic growth followed two dual modes of industrialization
  	* \\# of large state-owned monopolies
  		* power
  		* oil
  		* banking
  		* public transport
  		* wine/ tobacco
  	* \\# proliferation of private medium-small sized enterprises
  * compulsory education expanded
  	* by late 70s, over 97% of population were literate
  	* first to the 9th grade
  	* high school examinations happened
  		* it's basically all the same stuff that happens in anime, you know this
  	* scores for college examinations determine what you major in
  		* this is kinda fucked up ngl
  * 2 years of military service required from all able-bodied men
  * healthcare available to everyone
  	* healthcare expenses were p low
  * consumer electronics were available to everyone
  	* everyone had microwaves/ fridges/ etc
  * overall known as Taiwan economic miracle
  	* people still faced strict political options
  	* only one Nationalist party
  	* minority governs the majority -> mainlanders ran the Nationalist party and focused for decades on winning back the mainland
  	* local elections were granted to Taiwanese people -> still few Taiwanese served at high levels of government
  	
  Era of White Terror
  * Taiwanization process began early in 1970s
  * underground resistance to nationalist policies
  * series of events take place in 70s/ 80s to democratize/ liberate authoritarian regimes
  * 1986: native Taiwanese organized their own political party (Democratic Progressive Party) -> currently in power hell yea
  	* Chiang Kai-shek had died by then (1975) -> his son Chaing Ching-kuo succeeded him
  	* CCK approved the 2nd political party
  		* CCK very similar to Deng Xiaopeng in terms of modernization/ dramatic economic growth and increasing politcal tolerance
  	* DPP finally legalized in 1989
  		* Tianamen square also happens this year that's W I L D
  * 1987: CCK lifted martial laws (??????????????????)
  	* when Chiang Kai-Shek first came to Taiwan he instated martial law (freedom of speech gone, anyone can be sentenced without a trial, etc)
  * 1996: 1st general Presidential election
  	* this is wild
  	* every citizen could cast his/ her vote to directly elect leader
  	* lots of military exercises from China as a response
  		* wanted to intimidate Taiwanese voters
  	* Dr. Chen organized a fuckin protest at Columbia w the other Taiwanese students to tell Taiwanese to go out and vote
  		* what a badass tbh
  		* went to NYPD to get a permit to do a vigil at night at New York Public Library
  		* got a fucking permit for Times Square holy shit (2000 people showed up woowowwowowowowowowow!!!!)
  	* voter turn-out was near 100%
  		* it was bc of Dr. Chen
  * Taiwan is now a 2 party system
  * after 1st election, Taiwan is now a problem
  	* showcase that mobilization of a country with plenty of resources that a nation state can fukcing rise out of nowhere, UN can't recognize the country however since China was one of the big 5 on the security council
  	
  Book: *Is Taiwan Chinese* by Melissa Brown that gives a good account of this stuff
  * republic of China was the original gov't that represents China in 1911
  * when UN was formed, China was one of the 5 members w veto power on security counsel
  * 1971: Mao was very ill, Nixon was president, US gov't needed to establish formal diplomatic relationship w China in order to seek a stronger balance of power vs Soviets
  * China's seat in league of nations was originally occupied by ROC, now in UN it needed to be occupied by PRC
  
  ### *Nostalgia*, Yu Guanghzhong
  * represents melancholy of mainland people
  * "my nostalgia is a small stamp" to indicate that writer is away, continues to go further adn further away
  * nostalgia ultimately becomes this narrow strait and "my continent" lies on the other side of the strait
  * this kind unconquerable gap is contrasted by adjectives like "small, narrow, shallow/ low" -> gap seems impossible to bridge, but uses these smaller adjectives to evoke more of a helpless feeling to indicate that the poet feels powerless
  
  ### *Pagoda*, Zheng Chouyu
  * not just any pagoda, but place where you place urns/ ashes
  * ghosts are dead soliders, chilling out in this pagoda
  * they are crammed with other dead people as well
  	* "may he rip in peace"
  * the leaf sweeper and wooductters represent buddhist/ daoist monks
  * "my son is a tourist"
  	* son wearing old uniform now dyed -> representation of changing identities/ cultures
  	* inheritance but passing on of generations
  	* dyeing uniform disassociates uniform from the past
  * son and science major gf are arguing about how long a handful of ashes can remain burning
  	* how long can memories/ nostalgia of the past remain burning (do not forget me, son (ME @ KENNY))
  * who is going to remember soldier's sacrifices, lamentation/ sadness over this, also lots of nostalgia here too
  
  ### *The Colonel*, Ya Xian
  * the rose symbolizes some sort of explosion from a grenade, rose/ fire are both red as well
  * lost his leg in battle of 1943, anti-japanese war
  * our soldier lost his leg in a battle against the japanese
  * "he has heard history and the laughter of history"
  	* translation is kinda off?
  	* cynical outlook at people's understanding of history?
  	* he has heard history and the laughter of the history
  	* the poet feels like a mockery/ felt disrespected and therefore history laughs at his sacrifice since he "lost"
  * "what is immortality? what is imperishable?"
  	* things that would never decay
  * refusal to indulge in self-pity but even tho there's a little bit of that in here wtf? what the fuck? wha ttf? 
'''
tags: []
isStarred: false
isTrashed: false
