type: "MARKDOWN_NOTE"
folder: "10da02197944423d3888"
title: "August 29, Class 1"
content: '''
  # August 29, Class 1
  ## Topics in American Politics: Globalizations, Ubranization, and the Environment
  
  LOWKEY HOT DAD STATUS (HIGHKEY G.O.T FAN STATUS)
  
  aight this guy is lowkey weird
  
  political science by trade, research scientist for mcarthur foundation
  
  Sustainability Exchange
  Work with students from across campus in interdisciplinary teams to tackle a real-world challenge in energy, environment, and sustainability, working wiht clients and and partner. Receive guidance from faculty advisors and create something that is meaningful, useful, and applied, while exploring the "wicked" problems that require innovative methods and solutions.
  Professor Bill Lowry lowry@wustl.edu
  
  _Metroparks Metropolitics: A Guide for Greening the Region_
  
  Bill Lowry: National Parks guy
  
  ## Globalization and Urbanization
  Tom Freedman likes cab drivers too much or something:  
  Ways in which tech is bringing the globe together, how the world has gotten faster and smaller in interesting and novel ways
  
  Global free market and its growth has 2 sides:  
  free market solves many problems  
  free market causes many problems/ is unjust or unfair to many people
  
  Globalization is a product of urbanization; we expect urbanization to continue even into the future
  
  SE Asia is going to experience urbanization very rapidly (think about what David Moon said)
  
  NA/ Europe does experience urbanization as well, but policy is different; politics in the US regarding urbanization is important
  
  real gdp per capita is positively/ quadratically correlated w the percentage of people living in urban areas
  
  pollution is an after-effect of urbanization; unequal ecological exchange, we trade environmental goods to get this growth, and OTHER place suffer for it  
  e.g. land fills
  
  In a global system you can find a place that would receive waste for a price (is it more efficient?), there is economic benefit, but there is an environmental cost regardless
  
  Interesting phenomenon of environmental problems is political backlash; people FEEL the problem and then people are compelled to take action; the problem of environmental pollution is SALIENT (Beijing, citieis in the US during industrialization)
  
  Economic argument: people now are no longer just concerned with basic needs because of greater affluence, but instead are willing to take measures to better their quality of life
  
  Increase in interstates/ expressways correlate with increased usage of cars, which causes greater pollution effects; this is unsustainable
  
  Hurricane energy increases is consistent with data on climate change
  
  impervious surfaces are rpoblematic because:
  * larger cost of maintenance
  * city planning does not account for rising sea levels which erode infrastructure
  * rise of conglomeratinos of cities
  
  How do we define Urban?  
  there is a UN definition  
  there is a US census definition: 1000 people per square mile
  
  Larger populations lead to more homes, larger homes, more infrastructure (sewage, electricity, gas lines, etc)
  
  Urban sprawl is a global phenomenon, land consumption to the ratio of population growth is uneven; land consumption is growing faster
  
  CARS SUCK, HERE'S WHY:
  * carbon footprint
  * environmental depletion (for production)
  * land usage (we gotta put them somewhere)
  * reduced physical activity
  * greater amount of wasted time
  * urban development HAS to be planned around this form of transportation
  
  expansion of urban environment directly impacting threatened species
  
  if you put a road down a habitat, you cut it's habitability(?) by 50%
  
  large walking spaces > large highways
  
  Amsterdam = the just city  
  * most of hte transportaiton is one bike, robust bicycle culture
  * there is a fuckign bicycle union
  
  vacated/ de-urbanized areas are a hotspot for illegal activities/ violence and other problems (contamination)
  
  mow it to own it policy, urban agriculture
'''
tags: [
  "Week_1"
]
isStarred: false
isTrashed: false
createdAt: "2017-08-29T16:07:37.104Z"
updatedAt: "2017-08-31T18:49:33.788Z"
