type: "MARKDOWN_NOTE"
folder: "b2018982f772e92139e0"
title: "Barro"
content: "# Barro"
tags: [
  "Week_7"
  "reading"
]
isStarred: false
isTrashed: false
createdAt: "2017-10-05T18:33:12.078Z"
updatedAt: "2017-10-05T18:33:24.739Z"
