createdAt: "2018-02-13T17:55:55.275Z"
updatedAt: "2018-07-12T20:31:47.957Z"
type: "MARKDOWN_NOTE"
folder: "3cd38cae717eddf0d743"
title: "Reality in Socialist China"
content: '''
  # Reality in Socialist China
  Red Detachment of Women
  * mass mobilization
  	* communisty movement is led for the masses, it is for the whole "proletariat" class
  	* important to show the support of the whole group instead of just smaller individuals
  * both of these places were adapted immediately from films
  
  The process of Adaptation
  * familiarity
  * collective work
  * film
  
  Plot comparison
  * fear
  * enemies/ victims in these plays represent certain classes
  * individual vs. collective
  * love line
  
  * the enemies of old china/ and of old culture include imperialism, feudalism, and bureaucratic capitalism
  * the new enemies were the higher village class, revolutionary ideas in everyone's mind were part of this
  * the main characters are always placed next to characters that are similar to them -> depiction of the proletariat class
  * in May Fourth revolution, love and revolution were often combined in literary works
  
  Style Comparison
  * setting (lighting, color, etc.)
  	* contrast in lighting for red detachment (feudal lord vs. external scenes)
  * camera angle
  	* low angle vs high angle
  * performance
  	* showcasing success of the revolution
  	* western ballet is softer, this is more powerful
  		* soviet union influence
  		* masculine posture is derivative of beijing opera/ ballet
  		* synthesis of western products
  
  3 prominences
  * among common people you emphasize positive figures, among positive figures you should emphasize heroes, among heroes you should emphasize main heroes
  
  According to Marxist theory, the proletariat were the motivators/ instigators of progress
  
  The Gender Issue
  * representatives of proletariat/ common people are both women in these ballets
  	* continuation of May Fourth discourse
  	* stimulate the urge to fight
  * similar paradox in relationship between women and men
  	* women are shown to be popular, but men still save them / educate them
  		* women were to eb saved and then to be educated to be a part of the revolution
  * the satchel was the symbol of revolution, passed down to the main character
  * display of the female body becomes a symbol of the crime of the landlords
  
'''
tags: []
isStarred: false
isTrashed: false
