type: "MARKDOWN_NOTE"
folder: "3cd38cae717eddf0d743"
title: "Gateway 10/23/17"
content: '''
  # Gateway 10/23/17
  
  Thurs/ Fri -> global inequality IAS newsletter ASK CRISTI FOR THIS
  THURS NIGHT JIM MITCHLEY -> gonna talk about global inequality
  FRI NIGHT SOME COMPETITION -> man idk
  
  Easterly
  * 20-30 years as senior program officer at world bank
  * what is the world bank
  	* how do we stop currency manipulations and economic dislocations
  	* or stop economic warfare
  	* tripod int'l reconstitution post wwi
  		* int'l bank for the reconstructino of europe
  		* industrialized world focus
  		* idea of getting the global economy up and running
  	* the soviet union was the biggest threat to the united states Post world war
  		* big key to victory in wwii
  		* were a superpower absent nuclear weapons
  	* US had to ask how were the economies going ot rebuild and join a global economy that was along the lines of capitalism instead of communism? int'l trade was big lynchpin of economic globalization
  	* imf was trying ot take nat'l currency politics out fo the equation
  	* 3 legs to this:
  		* Reconstruction and development
  		* int'l currency system
  		* trade
  	* rules were constructed w the objective of progressing US understanding of the ways of the world
  * World bank was critical in reconstructing europe but didn't have the capacity
  	* US intervened w martial plan
  	* helped fund reconstruction
  * world bank as a consequence of this turned its focus to the developing world
  * by decade the world bank rotated policies -> looked at big policy shifts in the world bank
  	* e.g. looking at solo model and applying those to the developing world
  
  Biggest issues Easterly identifies in developing world
  * financing gap
  * infrastructure gap
  	* need to finance better projects w better ROI
  	* dams, hydroelectric plants, highways
  	* 1950s US had the insterstate highway act and the st. lawrence seaway
  * education gap
  * healthcare gap
  	* need to evaluate basic needs of people (both education / healthcare)
  	* make human labor and human capital more productive
  	* increasing civil society programs
  	* individual actors matter (dont mess w dictators man)
  	* proper incentive creation
  	* accountabliity doesn't matter for us since we care more about cold war than accountability measures
  * The Bono Plan
  	* forgive debts of countries
  	* make loans outright grants
  	* Mexican debt crisis of 1982
  * rule of law + infrastructure that surrounds market activity (creating the scaffolding for the incentive structure)
  	* stable rule of law -> anticorruption measures/ programs
  	* emphasis of greater property rights
  	* contracting
  * population control
  	* asdf
  
  Robert McNamara
  * leaves Sec. of Def position under LBJ
  * becomes president of world bank
  
'''
tags: []
isStarred: false
isTrashed: false
createdAt: "2017-10-23T21:11:46.894Z"
updatedAt: "2018-07-12T20:33:08.380Z"
