type: "MARKDOWN_NOTE"
folder: "10dee89e4e96c3c3135f"
title: "Kleinman"
content: "# Kleinman"
tags: [
  "Week_2"
  "incomplete"
  "reading"
]
isStarred: false
isTrashed: false
createdAt: "2017-10-05T18:14:05.487Z"
updatedAt: "2017-10-05T18:14:32.361Z"
