type: "MARKDOWN_NOTE"
folder: "3cd38cae717eddf0d743"
title: "Kleinman"
content: "# Kleinman"
tags: [
  "Week_2"
  "incomplete"
  "reading"
]
isStarred: false
isTrashed: false
createdAt: "2017-10-05T18:14:05.487Z"
updatedAt: "2018-07-12T20:32:15.880Z"
