createdAt: "2018-03-20T17:03:02.458Z"
updatedAt: "2018-03-20T17:04:20.006Z"
type: "MARKDOWN_NOTE"
folder: "2def961904e87400025b"
title: "This post is a test to see if I can successfully publish blogs from boostnote. Hoping for the best!"
content: "This post is a test to see if I can successfully publish blogs from boostnote. Hoping for the best!"
tags: []
isStarred: false
isTrashed: false
