createdAt: "2018-03-27T16:39:47.333Z"
updatedAt: "2018-07-12T20:31:33.246Z"
type: "MARKDOWN_NOTE"
folder: "3cd38cae717eddf0d743"
title: "City and the Postmodern Body Politics"
content: '''
  # City and the Postmodern Body Politics
  Li Ang - born 1952, still alive?  ? ?
  * born in Luo Gong
  * graduated from philosophy department from Chinese Culture University in Taiwan
  * masters degree in drama from University of Oregon
  * published her first short story when she was 16
  * most of her novels revolve around love and sexual relationships in modern society
  * also focuses on issues regarding modern society's transforming views of gender and sex psychology
  * her first novella, "The Butcher's Wife," 1983, was rly super messed up but incredibly (**_read this_**)
  * later works combine politics and sex together
  * the girl who is clearing her voice behind me needs to stop p l s
  
  #### Curvaceous Dolls
  * story is about protagonists sexual awakening through teh medium of her dolls
  	* her husband's reaction to her dolls is also important
  * protag is fascinated with the female body
  * girl just wanna like other girls
  * story about self-awakening/ coming to understand her own gendered identity
  * womanhood as a means of passing on patronage/ having proper adult figures
  	* dolls represent innocence and to sexualize them is a means of adding a layer of gendered identity to them despite being "children's toys"
  	* learning gendered identity through her own exploration
  * story does not touch on her professional self
  * self <--> other
  	* these dynamics are how identity is formed
  * emergence of green, pale eyes, appears once and appears again when she is not happy with her husband (when her dolls disappear bc no more mention of these dolls)
  	* the pair of green eyes take the place of the dolls and her husband
  	* these 2 entities represent the "others"
  	* "green eyes" are now the other, externalized as something "else"
  * s h e     i s     a     f u r r y
  	* being observed/ being watched results in her heightening her sense of self (imagining being watched)
  	* finally becoming conscious of her own body, even through the medium of some other imagined entity observing
  	* weird psychological stuff
  	* becomres mroe and more abstract as she gets closer and closer to discovering herself
  * how does this affect how she emerges when she comes home?
  
  ##### Zhu Tianwen + Zhu Tianxin ("Fin-de-Siecle Splendor" + "The Old Capital")
  * post memory -> has nothing to do with fin de siecle splednor
  	* inherited memory (term used for holocaust survivors mainly)
  	* parents generation
  * entering 1980s, as Taiwan becomes more stable and mature (growth is going into 4th decade), as political climate became more open (Chiang Kai-Shek's reign over, CCK's reign allowed for more Taiwanaizations), so Taiwanese people were allowed to participate in higher levels of government
  * she and her generation were born and raised in Taiwan and in this short story she finds a third route in order to embrace her ontological and cultural/ Taiwanese background
  
  #### Fin-de-Siecle Splendor
  * protag is a model
  * thinks she's too old
  * story is about material culture, protag is a material girl
  	* is a mistress of some older married dude, doesn't care bc she can use his credit card, doesn't care about older value system
  * "I live for myself" -> departure from other older attitudes adn cultural norms
  * it's not about politicla ideology or a collective or some other things, but a shift in caring about politicla ideology to self-fulfillment
  * language is very REAL adn rooted in senory feeligns that are nascent to a readers mind
  	* language style evokes sensory reception and not abotu plot
  * life, seasonality is marked by fashion trends, not political ideology or political power/ representatives
  * very post-modern piece because of this
  
  #### The Old Capital
  * 
'''
tags: []
isStarred: false
isTrashed: false
