type: "MARKDOWN_NOTE"
folder: "10da02197944423d3888"
title: "October 5, Class 12"
content: '''
  # October 5, Class 12
  ## Environmental Impacts: Land Use and Sprawl
  
  Recap
  * explanations of growth and change
  * key actors
  	* pc
  	* lgo
  	* corporations
  
  Sprawl (KNOW PROS AND CONS)
  * characteristics
  	* unplanned
  		* gov't didn't target this growth
  	* low density
  	* segregated land uses
  	* autocentric
  		* actual
  		* lollipop on a stick development
  * is sprawl good or bad for the environment?
  	* if there are cultural/ social implications, it likely has environmental consequences
  * Potential benefits?
  	*	low-density sprawl results in smaller, low density communities
  		*	producing power/ carbon emissions is not a concern since individuals have the power to produce this
  	*	transit times aren't as long -> less time spent in traffic
  	*	pollution/ emissions are spread out further so the surrounding environment/ public health does not readily experience the impact
  	*	Globalization 3.0: telecommuting with work (working from home) can correct for travel-related emissions
  *	Negative consequences
  	*	more carbon emissions
  	*	longer commutes (= more emissions idk)
  	*	fences suck
  	*	lower biodiversity
  
  Political Transformations
  * political boundaries
  	* annexation/ consideration
  		* cities increase pop. through political decisions about boundaries
  		* early efforts were driven by suburban need for city infrastructure and services
  		* as middle class expanded to suburban locations, many resisted annexation/ consolidation
  		* st. louis
  			* 64 sq. miles? not enough bitch
  			* there are more people living in st. charles county than there are living in STL
  
  Social Transofrmations
  * suburbs
  	* decrease in public space
  		* privatize malls, pools, gated communities
  	* suburban cultural life
  		* mcdonaldization
  		* disneyfication
  	* racial segregation
  		* [central city v. suburb](http://mappingdecline.lib.uiowa.edu/map/)
  			* white flight
  		* differentiation between suburbs
  * in the central city
  	* income polarization
  		* dual city – exit of middle class to suburbs left mostly poor and upper classes in cities (extreme stratification)
  	* gentrification
  		* trend toward affluent resident moving into nonaffluent neighborhoods
  		* professional workers need housing and cheap real estate allows renovation
  		* largely a result of the hollowing out of the urban core
  		* can combat this by providing forced afforable housing
  			* rent controooooooool
  
  Economic Transformations
  [Job Sprawl: Employment Location in U.S. Metropolitan Areas](Job Sprawl: Employment Location
  in U.S. Metropolitan Areas) go to page 5 for Table 4: Extremely Decentralized Employment Metros: less than 10 percent of metro employment within three miles of CBD
  
  Urban vs. suburban population growth among the US poor between 1999 and 2008:
  - suburban poor: 25%
  - urban poor: 5%
  
  Suburbs with the greatest increase/ decreases in poverty rates
  * increases
  	* dallas
  	* cincinatti
  	* atlanta
  	* dayyon
  	* detroit
  	* cleveland
  	* portlant
  	* portland
  * decrease
  	* LA
  	* Ontario (CA), riverside, san bernadino
  
  Cities and Land Transformation
  * between 1990-2000, urban land cover grew twice as fast as urban population growth and is expected to double in 19 years
  	* this means were sprawling
  * in approx. the next 20 years, cities will develop more than 1,000,000 km^2 of land
  * Urban Land Cover
  	* US: 112,220 km^2
  	* China: 47,169 km^2
  	* Total: 605,875 km^2
  
  [What does sprawl look like?](https://landcover.usgs.gov/urban/tmap.php)
  
  Cities and Land Transformation
  * land cover change is projected to result in the loss of up to 40% of species in developed areas
  
  Globalization of urban sprawl
  * increasingly, cities in developing countries are underoging Western style sprawl
  	* patterns used to reflect other growth patterns
  * santiago, chile
  	* most of very recent suburbanization has developed as a result of developers looking for cheap and easy-to-develop land
  * in developing countries, sprawl consists of two forms:
  	* large informal settlements on the periphery
  		* little infrastructure, few services
  		* reason why Mexico City was hit so hard by the earthquake
  	* suburban sprawl characteristic of developed countries
  		* wealthy residences
  		* retail complexes
  		* result of extreme inequalities -> wealthy can drive suburbanization
  * In developing countries, sprawl is caused by:
  	* poor planning/ governance
  	* marginalization/ poor property rights
  		* people can't afford property inside cities/ urban areas and move directly outside
  	* growing automobile use -> higher access
  
  #### e.g. urban sprawl in Bangkok
  ![Example of sprawl in Bangkok](https://image.slidesharecdn.com/pechakuchashophousefinal-121008063427-phpapp01/95/pecha-kucha-shophouse-final-8-728.jpg?cb=1349678156)
  
  Environmental Impacts of Urban Sprawl
  * sprawl leads to
  	* greater land consumption for development
  		* increased impervious surfaces
  		* loss of agricultural lands
  		* biodiversity loss
  		* RIP hinterlands
  	* increased use of natural resources
  		* transport and housing energy use
  		* materials for home constructino and infrastructure
  		* water consumption
  	* pollution
  		* air quality (congestion)
  		* water quality (nonpoint source pollution0
  		* waste (fewer public services, less recycling)
  		* [greenhouse gas emissions](http://coolclimate.berkeley.edu/maps) -> might be less dense, but still higher aggregate
  			* cities have lower per capita emissions closer to the center
  
  [City v. Suburb](https://www.hks.harvard.edu/sites/default/files/centers/taubman/files/greencities_final.pdf) go to page 8 to see Table 2: Suburb-City Difference in CO2 Emissions
  
'''
tags: [
  "Week_6"
]
isStarred: false
isTrashed: false
createdAt: "2017-10-05T16:38:53.886Z"
updatedAt: "2017-10-19T01:44:30.844Z"
