type: "MARKDOWN_NOTE"
folder: "10dee89e4e96c3c3135f"
title: "Dugger"
content: "# Dugger"
tags: [
  "Week_6"
  "incomplete"
  "reading"
]
isStarred: false
isTrashed: false
createdAt: "2017-10-05T18:28:17.340Z"
updatedAt: "2017-10-05T18:28:28.071Z"
