type: "MARKDOWN_NOTE"
folder: "3cd38cae717eddf0d743"
title: "Dugger"
content: "# Dugger"
tags: [
  "Week_6"
  "incomplete"
  "reading"
]
isStarred: false
isTrashed: false
createdAt: "2017-10-05T18:28:17.340Z"
updatedAt: "2018-07-12T20:32:06.233Z"
