type: "MARKDOWN_NOTE"
folder: "10dee89e4e96c3c3135f"
title: "Rubel"
content: "# Rubel"
tags: [
  "Week_2"
  "incomplete"
  "reading"
]
isStarred: false
isTrashed: false
createdAt: "2017-10-05T18:20:17.298Z"
updatedAt: "2017-10-05T18:21:22.782Z"
