type: "MARKDOWN_NOTE"
folder: "3cd38cae717eddf0d743"
title: "September 26, Class 9"
content: '''
  # September 26, Class 9
  ## hello?
'''
tags: []
isStarred: false
isTrashed: false
createdAt: "2017-10-05T16:43:03.678Z"
updatedAt: "2018-07-12T20:32:37.719Z"
