type: "MARKDOWN_NOTE"
folder: "10dee89e4e96c3c3135f"
title: "Doyal"
content: "# Doyal"
tags: [
  "Week_6"
  "incomplete"
  "reading"
]
isStarred: false
isTrashed: false
createdAt: "2017-10-05T18:27:57.837Z"
updatedAt: "2017-10-05T18:28:13.689Z"
