type: "MARKDOWN_NOTE"
folder: "3cd38cae717eddf0d743"
title: "Doyal"
content: "# Doyal"
tags: [
  "Week_6"
  "incomplete"
  "reading"
]
isStarred: false
isTrashed: false
createdAt: "2017-10-05T18:27:57.837Z"
updatedAt: "2018-07-12T20:32:07.559Z"
