type: "MARKDOWN_NOTE"
folder: "10dee89e4e96c3c3135f"
title: "Good & Good"
content: '''
  # Good & Good
  ### Learning Medicine
  
  Zinacanteco healing system
  1980 - HMS new pathway of general medical education
  	tutorial based active learning
  	new integrated curricular blocks
  	new vision of the physician - ever learning etc.
  
  teach students to be competent and caring
  caring is a cultural institution
  students feel competency vs caring is a zero sum game
  
  epistemological: how are we to represent medical knowledge as socially constructed while also maintaining the important advances of biological sciences
  
  phenomenological: how are distinctive medical worlds constructed experientially so that they appear singularly convincing, natural, objective
  
  politcal economy: 
'''
tags: [
  "incomplete"
  "reading"
  "Week_4"
]
isStarred: false
isTrashed: false
createdAt: "2017-10-05T15:42:05.260Z"
updatedAt: "2017-10-05T18:24:42.246Z"
