type: "MARKDOWN_NOTE"
folder: "10dee89e4e96c3c3135f"
title: "Muramoto"
content: '''
  # Muramoto
  ### Education and debate: bioethical aspects of the recent changes in the policy of refusal of blood by Jehovah’s witnesses
  
  JH accept albumin/ globulin as personal choice
  Bulgaria 1998 - European commission on human rights - promise free choice for blood transfusions
  April 2000 - dissociation instead of disfellowship
  - disfellowship/ disassocation is a strong deterrent for patients
  - patient autonomy strongly differs, disfellowship is initiated by committee disassociation is started by patient (even though disfellowship can still occur)
  fractions of blood components now allowed
'''
tags: [
  "reading"
  "Week_3"
]
isStarred: false
isTrashed: false
createdAt: "2017-10-05T15:39:16.744Z"
updatedAt: "2017-10-05T18:24:19.287Z"
