type: "MARKDOWN_NOTE"
folder: "10dee89e4e96c3c3135f"
title: "Alexander"
content: '''
  # Alexander
  ### Illness maintenance and the new american sick role
  
  curative premise - heal and don’t hurt
  designed to treat acute, transient, discrete things
  CURATIVE PREMISE INVALID DUE TO CHRONIC PROBLEMS DOMINATING
  medicalization of health - divide between illness and wellness, kinds and numbers/ signs or symptoms of illness has increased
  
  secondary gain is a thing
  
  stress sucks
  
  secondary symptoms of what were once “you dead” diseases now occur through long period intervention
  
  american medicine = illness maintenance
  
  sick role = set of attitudes towards the self that lead someone to claim privileges afforded to those who are sick
  
  sick role rights: exemption from role/ obligations; claim of irresponsible for sickness
  sick role obligations: active cooperation in altering sick state with resources, motivation to evacuate sick role
  
  difference between illness and disease
  
  disease: abnormalities in structure/ function of body, bodily organs, or functions
  illness: experiences of disvalued changes in states of being and in social function
  
  Mr. O drools, Ms. M rules
  
  why parsonian model doesn’t work with chronic illness:
  - chronically ill people aren’t exempt from roles/ responsibilities
  - chronically ill people are responsible for their disease (ms. m exacerbated it, mr. o fabricated his)
  - ms. m did not cooperate fully in order to reduce “illness” and maintain health, mr. o sought out too many things
  - ms. m wanted to not be sick, but mr. o also wanted this but also wanted other objective things
  
'''
tags: [
  "reading"
  "Week_3"
  "Week_4"
]
isStarred: false
isTrashed: false
createdAt: "2017-10-05T15:40:45.908Z"
updatedAt: "2017-10-05T18:24:26.857Z"
