createdAt: "2018-04-03T16:40:34.080Z"
updatedAt: "2018-07-12T20:31:31.645Z"
type: "MARKDOWN_NOTE"
folder: "3cd38cae717eddf0d743"
title: "Global - Local"
content: '''
  # Global - Local
  ### Cape No. 7
  * Huge box-office successs
  * Similar film idea: Seediq Bale
  * Director: Wei Te-sheng
  
  Characters
  * Aga
  * Tomoko
  * Japanese lover/ teacher
  	* defeat, shame, regret (rip in pepperonies) -> national debate/ feeling
  	* regret - individual is bound to national experience
  
  The characters are kinda wild
  
  What sort of things are represented within the movie?
  * ethnic Japanese vs native vs western
  	* love line between Japanese vs. native cultures
  * culture (music, professoins maybe?)
  * language
  * broad backgrounds
  * Mainlanders, Taiwanese (Han vs. aborigines)
  * love story -> cliche? boring?
  
  young tomoko was pissed off by the band, decides to leave and go home to Japan, old guy decides to invite her ot a local banquet, she patricipated since old dude spoke to her ni japanese
  
  in the past: colonizer vs colonized
  * contemporary: are they equals nwo? just different?
  * relationship between Japan and Taiwan is on a global level, this can be scene from colonialism and has evolved since then to reflect different and growing levels of globalization around the world
  * different resources traded now: culture, material, alcohol
  	* in teh past, position of the local (during colonial time) was more similar to equals with japan and represented model state
  	* epitomized through the multicultural/ cosmopolitan natuer of the film
  
  what about taipei? 
  * not the setting of teh film
'''
tags: []
isStarred: false
isTrashed: false
