createdAt: "2018-02-15T17:54:54.366Z"
updatedAt: "2018-02-15T18:56:28.902Z"
type: "MARKDOWN_NOTE"
folder: "fe559436bd547e5b239b"
title: "Post-Mao China: Writing the Scar (1)"
content: '''
  # Post-Mao China: Writing the Scar (1)
  1981 - aftermath of cultural revolution, properties were confiscated/ destroyed, how does CCP deal w this
  * very long title, there is a document that exists to offer society the official judgement of Mao and his regime and to settle it once and for all
  * this resolution is not subject to public debate
  * this document points out that social/ economic policy errors of the great leap forward weere made by mao and many top leaders in the party, but the downfall lay in the action of numerous central bureaucrats and local cadaskjfdas in how they carried out the policies of the central government
  * the great famine, the greatest consequence of the great leap forward "experiment" is only mentioend by way of natural calamities
  * cultural revolution was mao's fault, however, the full fault and entire responsibility should be laid on ling biao and the gang of four
  * the ccp openly prosecuted the gang of four, the trials of war were show trials intended to end all trials related to the war
  * mao should be only attributed 30% of mistakes, still was 70% right, if the CCP does not do this, the legitimacy of the CCP's ruling power will be challenged, the CCP cannot be wrong in order to retain power
  * there is no debate with no challenging party
  
  Deng Xiaoping
  * guided china from closed, overly rigid China to heavily modernized and globalized
  * development is an unbroken and absolute truth
  * when mao died, his alleged son brought down the gang of four, his son was not a very skilled politician
  * comes from shanghai, is a very economy oriented sort of guy
  * enormous advantage as he assumes responsibility, humongous gov't and locales to manage
  * has the foundation that he established
  
  Culminates in Tianamen Square incident 1989
  * students protesting
  * international news broadcast
  * tanks started to move in, the whole world watched what the hell unfolded
  * this is also a decisive moment for Hong Kong
  
  How does Chinese Society change during this time?
  * western idea of enlightenment was brought back
  * the idea of the "collective" is now being debated and is to be replaced by the individual/ self
  * Chinese intellectual writers see themselves as reformers/ may fourth dignitaries in the face of the people
  * everything "goes back to normal" -> Deng Xiaopeng reverses Mao era socialism
  * 1985 there was a genuine/ passioante debate about humanism/ enlightenment ("The Cultural Fever")
  * we in the liberal west are familiar with this, but at the same time, Chinese gov't, one of the largest bureaucracies in the world, still lots of corruption, especially on local levels
  * Deng Xiaopeng showed his true hand after 89 (not too much freedom)
  	* all intellectuals are now disillusioned, cultural fever is now over
  * 89 forward
  	* geared towards making money
  	* more modernization
  	* 2001, China formally joins WTO, Chinese economy took off
  		* becoming a member of the global economy
  	* to look forward, to look to money or wealth
  	* chinese society has shifted 180 degrees, socialist/ maoist era to quasi-capitalist political economy
  
  The Wounded - Lu Xinhua (1978), aftermath of cultural revolutoin, sets the tenor of the following literary trend of the "scar literatured," comes from this piece
  * graduated from fu deng uni
  * worked as a reporter
  * came to UCLA for masters
  * not a professional writer, but remembered bc of this piece
  * she is a send-down youth, ex-member of the Red Guard
  	* mother is labelled as a traitor/ rightist/ revolutionary roter
  	* post mother's death (Xiohua), she wanted to dedicate her entire life to the party's construction
  	* she says "I know who left the scar," (us, me, and my mom) and decided to dedicate life to the party
  		* the gang of four left the scar -> any misrey/ injustice is the fault of gang of four and nobody else, still want to continue to devote myself to the party
  * Lu Xinhua was reflecting the general feelings/ thinking at the time, wasn't saying anything revolutionary or carzy/ unorthodox or subversive
  	* how do we read it today?
  	* it leaves a historical record in telling us that many years later how individuals/ youth/ or older people had to endure, and how absurd their choices were at their time
  	* this piece is a symptom of PTSD, 1978, cultural revolution just ended: everyone suffered/ was a victim, to understand what happened to you after you suffered a trauma, takes years of distance to be able to go back and understand what happened to you, Lu Xinhua didn't understand what was going on, but said anyway what was going on/ what happened, reported a realistic report and didn't know how to properly process the trauma
  	* all scar literature is important because of these reasons, many modern chinese lit authorities find these pieces to be artless/ formless/ mouthpieces of the gov'ts at the time
  * during 10 yrs of cultural revolution, there was an underground literature: sex, romantic yearning, someone would show stories to friend, people would do handwritten copies
  	* literally how fanfics/ smut started in china? idk????
  
  Chen Rouxxi, "Tunnel"
  * Taiwanese native, born in 1938, grad of National Taiwan Uni
  * active in modernist movement/ literary movement in Taiwan
  * after graduation, she came to the United States, went to Mt. Holy Yoke College to study English lit in a Masters program, transferred to Johns Hopkins
  * Taiwan under Chiang Kaishek was also very authoritarian, it was not free, freedom fo speech was sanctioned by gov't  and was veyr much controlled
  * the whole culture policy of Chiang Kaishek in Taiwan was very reminiscent of regular China -> goal of retaking mainland China
  * this writer/ other ppl encouraged students to go abroad (just as Chinese gov't does now)
  	* when these grads came to USA, they discovered East Asian libraries
  	* all kinds of books in libraries that were banned in Taiwan, Lu Xun and many other prolific authors were banned
  	* very much part of the Cold War at this time (Taiwan), intellectuals in US start reading pro-leftist literature, they became much more pro-left, they believed that communism was the solution to many problems
  * author met her husband, in 1966 travelled via Europe to China to join the cultural revolution as Taiwanese, gov't CCP were accepted but closely monitored
  	* stayed in China for 7 years, produced 2 sons, didn't stay until the end, they began to realize that cultural revolution is not what it seems (aka all the death and shit)
  	* request to leave China, after many rejections they were permitted to leave, went to Hong Kong, and then emigrated to Canada (1974) and then from there to United States, split with her husband and went back to Taiwan
  * this story is one of many short stories in part of "execution of Mei aweifowajew;," was firs tauthor to publish short stories using eyewitness accounts of cultural revolution
  * first scholarly writer, but it is ironic since she is Taiwanese
  * in the 50s, US is in McCarthy era, when Taiwanese students wanted to get together and exchange ideas, formed secret reading groups, bc they would be reading on communist materials and were afraid FBI were watching them
  	* created code words and used coded language to create meetings
  	* wild
  * lots of political turmoil surrounding the topic of love/ marriage, intrusion/ obstacles dont come directly from the central gov't via family members/ party members, the CCP intruded every family through the people around you
  	* very much a big brother story
  * lots of questions brought up about the current system
  	* writer wrote this in Hong Kong, the fact that they died in the tunnel came directly from Mao (symbolic of CCP disappearing tf outta people)
  	* the book in teh bot included love/ suicide themes
  	* they stick to the party until the very end and the footnote is an important start of conveying the total intent of the story + revised story
  * we look at politics through a very human angle, but Chen Rouxxi never outright comes out and condemns Mao
  
  Can Xue, "The Hut on The Mountain"
  * born in 1953
  * known for surrealist style of writing
  * 5 yr old when famine started, everyone she knew was either sent to casdfahewf school or sent down to fields to be reformed, was left by herself
  * was fascinated with weird shit like feces, insencts, wolves, rats, snakes
  * says she invented these things and has unique feelings towards them about how scary they are and they represent longing, which is a most beautiful imagery
  * stories were abstract about unnamed/ unnameable phenomena
  * lives with a nuclear family, story is within her home, there is a hut on the mountain
  * drawer represents a desire for agency
  * very nightmareish language/ nightmareish dreams and surrealism
  * read in a symbolic way, intensity of certain feelings, feelings of insecurity
'''
tags: []
isStarred: false
isTrashed: false
