type: "MARKDOWN_NOTE"
folder: "3cd38cae717eddf0d743"
title: "Loue et. al"
content: "# Loue et. al"
tags: [
  "Week_3"
  "reading"
  "incomplete"
]
isStarred: false
isTrashed: false
createdAt: "2017-10-05T18:22:40.417Z"
updatedAt: "2018-07-12T20:32:11.845Z"
