createdAt: "2018-02-01T17:38:50.574Z"
updatedAt: "2018-07-12T20:31:52.884Z"
type: "MARKDOWN_NOTE"
folder: "3cd38cae717eddf0d743"
title: "The Lure of the Modern"
content: '''
  # The Lure of the Modern
  ###### were out here
  #### Mu Shiying, "Shanghai Foxtrot" 
  * came from a rich family
  * handsome af
  * went to university in Shanghai
  * editor in Hong Kong 1937-1939
  * 1937 - Japanese invasion into China begins (breakout of 2nd Sino-Japanese war)
  	* affects much of the literature from this period
  * came back to work for the cooperative gov't in 1940
  * one nationalist gov't
  * one cooperative gov't supported by Japanese <- worked for this one
  * was assassinated RIP
  * active in Shanghai in 1930s and was active in new sensationalism/ new sensualism
  	* was among the first modernist literary schools in the early 20th century
  	* introduced by Japan
  	* series of influences by Japan in that era
  	* Japan also had other influences:
  		* studying in Japanese university
  	* mixture of despair and carpe diem were brought by Japanese society (or to? question mark?)
  	* avant garde literary schools became popular in Japan
  	* naturalism school
  		* people rely on their senses to feel and sense the world
  		* presented through the depiction of the human mind -> we understand the external world through our internal world
  	* 1935: literature -> le contomporairwrhiquwheqwfe (the contemporary) French Journal became the basis for new sensualism/ sensationalism in China
  	* series of similarities between Shanghai and Tokyo
  		* imperial invasion (SHanghai -> sealed off)
  		* western imperialist
  	* repetitive/ fragmented -> different scenes -> somewhat dreamlike, no clear plotline, VERY FILMLIKE
  	* Tempo and Montage
  		* a modern sense of space and time
  		* montage represents a very large theme in new sensationalism
  		* different spaces are stritched together and sort of warps time
  		* plotlines are important in premodern Chinese literature -> plotlines represent a very clear sense of values or specific ideology
  		* no direct plotline symbolizes chaos/ lack of values or ideology/ threatening those values
  
  
  #### Shi Zhecun, "One Evening in the Rainy Season"
  * born in X province (southeast China, rich area, close to Shanghai) -> rich cultural tradition
  * ALSO HANDOMS D AF
  * father was a teacher -> cultural family
  * went to college in Shanghai
  * active in leftist movements
  * most known for his modernist short stories
  * reformed new sensationalism (since 1905-2003)
  * has an actual plot and follows some general storyline
  * thoughts of the narrator included, internal words/ dialogue elements
  * montage-like elements -> little snippets of different women he thinks about (all connected through the common elements of women/ internal dialogue/ consciousness)
  * imagery in _Shanghai Foxtrot_ a lot more vibrant in the first story (to best colorize Shanghai) as opposed to this story
  	* reflecting the mindset of the protagonist/ narrator
  	* never see the city outside of narrator's point of view
  * Stream of Consciousness -> writing down everything that coems to mind (montage-elements)
  	* Sophie's Diary 
  	* Sinking -> meandering narration
  * Confinement
  	* routine -> societal expectations
  	* jumping back and forth between what he does/ is used to and the chance for something different (but will never happen)
  	* rain blocks out scene
  		* monsoon season in China (usage of geographical / culture)
  	* under the umbrella intimacy? ? ? ? ?  ? ? ? ?
  		* confinement -> both stay under the umbrella, acknowledgement that the rain isn't harmful however they both remain under umbrella
  	* Shanghai -> French/ British concessions which only allow certain people to come in and out of certain spaces
  		* isolated island at the moment
  		* partly protected from the Japanese invasion
  	* Comparison to Sealed Off
  		* sense of time is warped (sealed off, time slows down, in this story time speeds up)
  		* confinement in sense of imagination/ space
  		* confinement of space influences sense of time
  
  #### Xu Zhimo, "Second Farawell to Cambridge"
  * very important in the modernization of Chinese poetry
  * also handsome af
  * were on Baidu rn and this is wild im very intimidated by my lack of KNAWLEDGE
  * poetic af
  * studied @ Cambridge d u h
  * rly liked it
  * Imagery
  	* nostalgic
  	* western sky AFLAME
  	* golden willow
  	* rainbow in the sky
  	* literally the entire poem
  	* very dreamlike/ colorful
  	* natural imagery
  * Perspective
  	* moving through the scenery
  
  #### Li Jinfa, "Woman Abandoned"
  * Imagery
  	* nostalgic, but violent
  	* isolation
  	* painful
  	* less of a personal experience than Second Farawell to Cambridge, this one was a social critique
  * Perspective
  	* switches between first/ third person
  	* removal of emotion, demonstration of solitude
  * Who is she?
  	* abandoned by her husband, but her "body" has been abandoned and she is left in soul by herself
  	* ambiguity of the self, imagery of being a ghost/ isolated soul
  	* premodern Chinese literature -> title refers to woman who was abandoned by her husband
  	* traditional Chinese literature -> these sort of poems evoke sad imagery, but nothing as painful/ violent as this one
  	* isolated from the external world, external world is an antagonistic entity
  	* sense of helplessness/ powerlessness
  	* sense of violence is not expected in this type of Chinese literature -> adaptation to be seen in modern Chinese literature
'''
tags: []
isStarred: false
isTrashed: false
