type: "MARKDOWN_NOTE"
folder: "10dee89e4e96c3c3135f"
title: "Ackernecht"
content: "# Ackernecht"
tags: [
  "Week_2"
  "reading"
  "incomplete"
]
isStarred: false
isTrashed: false
createdAt: "2017-10-05T18:19:49.666Z"
updatedAt: "2017-10-05T18:20:09.354Z"
