type: "MARKDOWN_NOTE"
folder: "3cd38cae717eddf0d743"
title: "Ackernecht"
content: "# Ackernecht"
tags: [
  "Week_2"
  "reading"
  "incomplete"
]
isStarred: false
isTrashed: false
createdAt: "2017-10-05T18:19:49.666Z"
updatedAt: "2018-07-12T20:32:14.552Z"
