type: "MARKDOWN_NOTE"
folder: "10da02197944423d3888"
title: "September 12, Class 5"
content: '''
  # September 12, Class 5
  ## Global Environmentalism
  
  Thurs: Read chapter 10, cities and nature, exam 1 review
  
  THERE S" AN EXAM NEXT WEEK
  
  a picture of the globe!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
  
  How did global environmentalism start?  
  cities stratred organizing around environmental problems -> grows to a national level, then to a global one
  
  local populations used different farming methods (slash and burn) -> europeanm conquest
  
  It started with these colonial powers taking the resources of other countries -> challenges are a cause and product of the colonialism experience
  
  global environmentalism began from a recreational perspective (Teddy Roosevelt) -> story of yopsemite
  
  preservation of yosemite came at the cost of indigineous peoples
  
  popular media played a part in bringing global/ popular environmentalism to the forefront of media/ popular culture (Rachel Carson - _Silent Spring_ etc)
  
  Beginnings
  * pre 1960s
  	* global coordination disrupted by shocks
  		* economic
  		* political
  	* rise of the UN after wwii
  		* creation of international union for the preservation of nature in 1948, later the international union for conservation of  nature and natural resources in 1956
  * 1960s/ 70s
  	* greater integration in the global economy
  		* rapid growth in early 60s
  		* rise of institutinos (IMF, wordl bank)
  		* expectation of rising tide
  	* challenges to growth
  		* persistent inequalities
  			* economic stagnationin the 70s
  			* dependency theory
  			* developing countries sought growth, NIEO
  
  Challenges to growth
  * bioencironmentalists
  	* rachel carson - silent spring
  	* paul ehrlich - population bomb
  	* _the limits to growth_
  * social greens
  	* schumacher - small is beautiful: economics as if people mattered
  * rise of movements and activism
  	* earth day
  	* ngos
  	* chipko, greenbelt movements
  greenpeace is scary but whalers are scarier
  
  
  wangari maathai
  
  global cooperation
  * stockholm conference 1972
  	* focused on reconciling growth and environmental protection (pollution of property)
  	* reached agreements on declaration, principles and action plan
  	* created unep
  * stockholm conference 1972
  	* positives
  		* set the stage for other global agreements (CITES)
  		* increased environmental cooperation
  	* criticisms
  		* soft measures, e.g. not legally binding
  		* no limits on growth and population
  * 1976 un conference on human settlements (habitat i)
    * focus on rapid urbanization, informal settlements
    * solution was rural development
    * vancouver declaration
    * led
'''
tags: [
  "Week_3"
]
isStarred: false
isTrashed: false
createdAt: "2017-09-12T15:15:25.443Z"
updatedAt: "2017-09-24T00:48:38.778Z"
