type: "MARKDOWN_NOTE"
folder: "b2018982f772e92139e0"
title: "Gateway 10/04/17"
content: '''
  # Gateway 10/04/17
  ## SWEET CAROLINE
  ## DUN DUN DUN
  
  do not game this class
  
  onerous vs erroneous ja feel
  
  there's a guy in psychology, roddy ryder: focuses on memory and learning, uses college students as lab rats, turns out that folks in a university course, weekly tests cause people to have better memory of subject matirial
  
  NEXT WEEK BARRO
  
  "be careful this weekend" thanks dad
  
  * key leaders (the right skills)
    * in developing countries in particular
    * political/ economic/ social leadership
    * movements artated in churches
      * suffrage,  prohibition, civil rights movements (think about black churches)
      * social instiutintions do this stuff
      * bowling clubs etc also do this
    * 
'''
tags: []
isStarred: false
isTrashed: false
createdAt: "2017-10-04T21:09:44.125Z"
updatedAt: "2018-02-01T17:45:22.496Z"
