createdAt: "2018-03-29T16:50:15.447Z"
updatedAt: "2018-03-29T17:49:23.115Z"
type: "MARKDOWN_NOTE"
folder: "fe559436bd547e5b239b"
title: "The Old Capital"
content: '''
  # The Old Capital
  ## A MASTAhPIECE
  the author/ narrator speaks in 2nd person, makes the interactions more interpersonal with the reader (it's her style)
  
  What are the important cultural markers?
  * American culture of the 60's and 70's is heavily referenced
  	* tv shows
  	* music
  	* food
  
  kyoto = wild
  kawabara's text "The Old Capital" becomes a paratext for this story which shares the same name
  
  pretends to be japanese l m a o
  * pretends to be a tourist for taipei
  * what a mad lad
  * she learns that the japanese built taipei to be a replica of kyoto
  * contrasts of historicla vs. the contemporary
  	* as she travels through taipei she explicitly sees the contemporary taipei
  	* but the old cpaital, colonial era taipei, is superimposed on the city
  * what she ends up seeing is a dystopia in present day/ contemporary times
  * providing encyclopedic amount of references to other literature
  
  the plot of old capital is linear and thematically parallels that of kawabaras novel
  * the switch on perspectives is made more interesting under the pretense of being a foreigner, which allows her to remove herself as a member of that city and view it as a new member
  * cultural hybridization
  
  it is also in this ancient city that this narrator's reunion with A does not happen. although this runs parallel to kawabara's story, the two sisters i nthat story meet and and then decide to go their separate ways, her daughter's childhood she wishes to recapture since everything in the city has been well preserved, taipei can't provide this sense of history, not even a personal one, nearly every trace of its past is modified  or has been erased, the modern and contemproary represents alienation, while the old reprsent something closer
  * every time dr. chen goes back to taipei, the entire city has changed
  * she's never gone back to where she used to live in fear that it won't look anything like what it sued to look like
  * the eseence/ spirit of a city should be preserved whle moving forward to mdoernity it's difficult to identify with places that constatnly REbuild as opposed to just build
  
  in the third section of the novella, the narrator returns to taipei and pretends to be a tourist. the author juxtaposes the colonial versoin of taipei with the contemporary version, which in the eyes of the narrator is stranger than the one on the map. she tries to match the chinese names of the parts of the city with their japanese equivalents on the map. all she sees architecturally speakign are japanese or american, nothing specifically taiwanese
  
  she checks off every name on the map as she visits each contemporary version irl. big differences between her personal memory and her narration of the different things on. 
  
  here the map, x, x as an agents to disconnect the narrator's visual history as ieojf;qweqweq;weoijf
  
  this colonial mpa ends up creating a rupture in the cohesion between history, memory, and place. the mpa stands as an allegory to the author's efforts to rewrite the past, connotes order and meaning/ presentation
  * how is a mpa drawn? what is the significance?
  
  the layout of different zones lays out the physical space, 
  
  in the author's use of th emap, the legend on the map is expanded with he rmemories, the map creates a paradoxical alliance between colonialism and the increasing desire to reteritorialize the city which she is now disillusioned with
  
  taiwan bank build in 1903 represents the perfect model for tiffany's store,
  the red chamber theater, designed by condosuro, build in 1908, has a supernatural flair that is combined witha peach blossom peach story as the narrrator thinks it embodies this kidn of paradise like place
  
  it is ot the period of japanese colonization that Zhu Tianxian appeals
  
  maintaining cohesion among history, memory, and place is the only way to establish an independent cultural identity, this is not dictated by the japanese or the NCP, it is her own. to drive home this ocnviction, she uses engation as her main strategy to articulate that visio of her main identity by bringing home herself to her native land
  
  the author is very positivistic, she points at things and says things are positive ot the history of taipei while negating others
  
  the author establishes not what taiwanese culture should be, but what it can no longer be, she disseminates knowledge of the past history, her memory, and uses the subtext of the peach blossom stream story, the peach blossom text maintains its symbolism of a utopian stream that exists outside of the mundane world that exists outside fothe narrator's story/ journey, when she loses the map at teh end of the story, and the peach blossom stream is now warped from a history/ memory of utopia into a reality of dystopia, the map becomes a very important instrument
  
  helicopters are circling in the sky (perhaps finding dead bodies in the river), across the river high pitched funeral music plays faintly, near the highwayare tall black hallways that block the hallway but seem to trap people in
  
  the perceptiosn o fkyoot and the old taipei are ideal, her approach teo the present adn past by means of simliquaiow, nostalgia, the desire to connect history, and the privelege to look at the present have restructured something
  
  similequa???????????????? what is this word, a structure that represents assimilation
  
  in her proejct of constructnig an identity, how can you have a hybridized culture whiel demanding a real history? author recognizes that the essence of taiwan's culture is heterogeneous, and though taiwan's culture is based primarily on chinese, it has also been influenced by american and japanese, but this does not change anything, it is therefore necessary to map taiwan's hybridity in history, does history guarantee authenticity then?
  
  historical authenticity becomes an important ingredient for authenticity
  
  the challenge of cultural identity for different chinese gorups in the world -> GET THSI BOOK
  
  is a hyphen identity? (Chinese-American, etc,), shoudl the hyphen be taken out? 
'''
tags: []
isStarred: false
isTrashed: false
