type: "MARKDOWN_NOTE"
folder: "10dee89e4e96c3c3135f"
title: "October 5, Class 12"
content: '''
  # October 5, Class 12
  ## Gender and Health Disparities
  
  Health as a human right, global and local challenges of health inequalities. These terms refer to political economy of health, studoy of how distributino of power and wealth in society place certain populations at risk of ill health, affect distribution of disease across societies and among them, and determine access to care and of what quality. CMA:
  
  1) Health is a profoundly political issue
  2) Emphasizes imoprtance of gender, class, racial inequities in determining health, disease, living and working conditions, health care
  3) places local in context of broader historical, global structures and forces
  4) places power at center of analysis (relations of power–class relations, gender relations, rich countries/ poor countries etc.
  5) examines how biomedicine (biological reductionism) may mask the social production of sickness
  
  critical medical anthropology: studying the spread/ use of medicine across barriers/ social stratification, etc
  
  [Critical medical anthropology (CMA) is a branch of medical anthropology that blends critical theory and ground-level ethnographic approaches in the consideration of the political economy of health, and the effect of social inequality on people's health. It puts emphasis on the structure of social relationships, rather than purely biomedical factors in analyzing health and accounting for its determinants.](https://en.wikipedia.org/wiki/Critical_medical_anthropology)
  
  Key facts
  * gender norms, roles, and relations can influence health outcomes and affect the attainment of mental, physical, and social health and well-being
  * Gender inequality limits access to quality health services and contributes to avoidable morbidity and mortality rates in women and men throughout the life-course
  * developing gender-responsive health programmes which are appropriately implemented are beneficial for men, women, boys and girls
  * it is necessary to disaggregate data and conduct gender analyses to identify sex and gender-based differences in health risks and opportunities and to design appropriate health interventions
  * addressing gender inequality improves access to and benefits from health services
  
  Introduction
  Gender refers to the socially constructed characteristics of women and men – such as the norms, roles and relationships that exist between them. Gender expectations vary between cultures and can change over time. It is also important to recognize identities that do not fit into the binary male or female sex categories. Gender norms, relations and roles also impact the health outcomes of people with transgender or intersex identities.
  - Hijras in India
  - little research done on transgender/ intersex identities
  - Brazilian travestis
  
  #### "Sex" vs. "Gender"
  While most people are born either male or female (biological sex), they are tuaght appropriate behaviors for males and females (gender norms) – including how they should interact with others of the same or opposite sex within households, communities and workplaces (gender relations) and which functions or responsibilities they should assume in society (gender roles).
  
  Income, education, age, ethnicity, sexual orientation and place of residence are all imoprtant determinants of health. When they intersect with gender inequality, they can compound the experience of discrimination, health risks, and lack of access to resources needed for health attainment.
  
  #### Impact on health
  There is not a problem per se in socially constructed differences between women and men, except when these differences limit opportunities or resources needed to attain health, and ??????
  
  ### Doyal
  Lesley Doyal: on gendera nd political economy of health
  * "women's lives can make them sick"
  * (substitute other categories, including men, transgender...)
  * patterns of health and sickness differ by sex/ gender
  * Why does this occur? Differential allocation of resources
  	* less access/ resources
  * thus structred inequality affects health
  	* paul farmer: structural violence
  	* james kasada: structural vulnerability
  
  Take into account social location
  * women are not a monolithic category
  * all women are not the same
  * age, race, class, geopolitical status, residence, family history, gendered identities, constitute social location
  * some builogical factors do characterize (most) women vs men
  
  Global health goals (and Doyal's)...
  * why is health important? What is health?
  * she follows WHO: physical, mental, social wellbeing
  * objective is to live at optimal capacity and productivity
  * evaluate how social inequalities affect health (by sex/gender, race ethnicity, class disability, and other features of social location)
  * idk maybe referring to [this](https://www.nytimes.com/2015/10/04/opinion/sunday/the-hypocrisy-of-helping-the-poor.html)
  
  Economic inequalities may lead to:
  1) premature death
  2) high infant mortality
  3) high maternal mortality
  4) higher risk factors for infectious and chronic diseases
  5) inadequate access to adequate health care
  6) stress
  7) workplace hazards
  
  
'''
tags: [
  "Week_6"
]
isStarred: false
isTrashed: false
createdAt: "2017-10-05T15:28:11.735Z"
updatedAt: "2017-10-05T18:11:34.717Z"
