createdAt: "2018-02-22T17:41:36.842Z"
updatedAt: "2018-03-20T20:46:45.141Z"
type: "MARKDOWN_NOTE"
folder: "fe559436bd547e5b239b"
title: "Post-Socialist China: In Search of the Self (1)"
content: '''
  # Post-Socialist China: In Search of the Self (1)
  #### The Blue Kite
  Themes
  * Sadness
  * Hunger
  * Fear
  
  1. How does fear influence how the characters make their decisions in their private life as well as their public lives?
   * Irrationality, callousness/ anger, betrayal
  2. Is the Party benevolent or malevolent? Give two exmaples that depict the Party both ways
  3. What are some of the major emotions in the film? Give one example for each emotion idefnitifed.
  4. In the film we see recurring scenes of the Blue Kite.
  	* In 1-2 sentences, summarize two scnese where the Blue Kite appears.
  	* What does the Blue Kite represent?
  
  rip this movie and ming
  
'''
tags: []
isStarred: false
isTrashed: false
