createdAt: "2018-03-06T17:49:30.025Z"
updatedAt: "2018-03-06T18:57:22.541Z"
type: "MARKDOWN_NOTE"
folder: "fe559436bd547e5b239b"
title: "Taiwan"
content: '''
  # Taiwan
  * hella people in Taiwan
  * 16th most densely populated country in the world
  * 50th largest country in the world in terms of population
  * ethnic distribution
  	* 98% are han chinese (including dr. chen)
  	* 90% are people from outside of the province -> Chinese 
  	
  	
  1624-1661 - Dutch occupation of Taiwan -> workign together with China and doing small business
  * the chinese
  * the spanish took over lower part of Taiwan, then got kicked out bvy dutch or someone else (1626 - 1642)
  * after Ming dynasty took over Qing dynasty
  	* Ming loyalists didn't want to give up, went to Taiwan
  * 1661-1683: Ming Loyalists (wtf that's so long)
  	* Koxinga -> mean dude + general = bad time
  	* Koxinga dies, son succeeds him, isn't rly a good general, king is able to come back and conquer Taiwan (demolish the Ming loyalists 5ever)
  * 1683-1895: Qing
  * 1895-1945: Japanese occupation
  * 1945-1949: PRC takes over
  * 1949-Present: the chinese nationalists
  * Chiang Kai-shek is dat boi
  	* fought Mao Zedong
  * during Dutch / Spanish occupation, Taiwan is not held under any one gov't
  * when Ming loyalists took over Taiwan, at this point Taiwan had a connection with the mainland
  * Qing finally destroys the resistance, took over Taiwan and annexed the island, first time the island was an official part of China
  * during Qing dynasty, island was ceded to Japan
  * during Japanese colonization, Qing was overthrown by nationalist government
  	* led by Sun Yat-sen
  * history hasn't been kind to this place
  * people who came with Chiang Kai-shek are called the Chinese Mainlanders
  * actual Taiwanese (usually from Han) are not called that
  * ethnic conflict in Taiwan stems from these 2 groups
  * usage of ethnic divisions becomes problematic considering the amount of cross-breeding
  
  Korea was colonized by Japanese in 1910
  * when republic of China took Taiwan back from Japan, they didn't really care about the island
  * those Chinese officials looked down upon the Taiwanese -> taking them as former colonial subjects of the Japanese empire
  * lots of discrimination against the Taiwanese -> brutal/ oppressive
  * put down the seed of the hatred of the Taiwanese towards the Chinese
  * this entire situation is just one big "BOI WTF"
  
  Literature in Taiwan
  * what language did Taiwanese writers write in?
  * literary Chinese during Ming and Qing takeover
  * when May 4th movement was taking place (1919) communication between China and Taiwan was ok w Japan -> many young intellectual Taiwanese travelled over to China to learn and be educated and bring those ideas back to Taiwan
  * until the 1930s, Japan tightens cultural policy on Taiwan, written language became Japanese at this time
  	* writers in 1960s were writing in Japanese
  	* Taiwanese writers -> when there were more mature literart writings, the first pieces were in Japanese
  * 1945 -> ROC government immediately bans Japanese from Taiwan
  	* everyone in Taiwan had to learn Chinese
  	* established writers were scrweed
  * Japanese colonial policy in Taiwan was such
  	* first 20 years, paternalistic ruels, Chinese was allowed, Taiwanese were allowed to publish their articles in Chinese (WHILE NEXT TO JAPANESE
  	* most publications were bilingual
  * colonial policy then became one of assimilation
  	* Japanese only writing
  * last 9 years
  	* Komingka movement -> turn Taiwanese into royal subjects of Japanese empire
  		* people had to change names to Japanese
  	* no traffic/ comms w China
  
  1945-1949
  * Chinese mainlanders were coming before this point, from beginning of Chinese civil war
  * approximately 2 million mainlanders (half were soliders) came to Taiwan
  * Dr. Chen's grandmother told her stories:
  	* return of Taiwan to China
  	* people were initially excited to come back to China
  	* first impression of Chinese was horrible, soliders were in drags, carrying pots/ pans and were dirty
  	* soldiers were exhausted and resources were limited
  	* Taiwan was built as Japan's model colony, co-prosperity circle of East Asia, Taiwan was going to be its model colony
  		*	Lots of good infrastructure and rule of law
  		* "people didn't lock their doors"
  		* Taiwanese were still considered second class citizens
  			* citizens could only be in mid-level government
  			* adult children were allowed to go to Japan for higher-level education
  			* Taiwanese doctors were highly respected
  		* Taiwanese policy from Japan were mostly benevolent
  		* Korea on the contrary was exploited to provide material/ human resources to help Japan's aggression in China
  * when nationalist gov't came, average quality of life plummeted for Taiwanese
  
  Chiang Kai-Shek's retreat to Taiwan
  * initially began with a land reform
  	* easy way to redo power structure
  	* shit was wild
  * very similar to what Mao did in China
  	* shit is wild
  
  Feb. 28 Incident - 1947
  * secret women vendor selling cigarettes in Taipei
  	* police crackdown on this vendor
  	* police brutality ensued
  * people walking by were angry and interfered (beat up th epolice)
  * blew up into a large fight
  * natinoal gov't came down on all Taiwanese men and arrested them for fear of inciting resistance and social disorder
  	* resistance grew from Taipei to rest of the island
  * began the white terror era
  	* funerals you wear white (island-wide oppression of intellectuals -> if something is gonna happen in the US were gonna be targeted tg am i right lmao jk roflmoa)
  * authoritarian rule blows
  * very china oriented education policy/ pedagogy
  * anything Taiwan was not taught or banned
  
  Drs. Mother (1945) -> Wu Zhuoliu
  * dude is a poet, novelist, reporter
  * published in Chinese
  * known for "Orphan of Asia"
  * 1941 -> worked in Nanjing as a reporter, for the New Newspaper of Mainland
  * came back to Taiwan in 1943
  * colleagues/ friends -> out of their own free will to make themselves more Japanese
  * how the issue of free will in determining one's cultural identity under colononliasm
  	* almost subversive to actual colonial development and stuff
  	* turning yourself into a truly colonial subject
  * very important identity conflict in this piece
  	* the mother/ beggar -> representative of old Taiwanese values
  	* Taiwanese/ Japanese identity -> totally separate at conflict with previous identity
  * protagonist enjoys becoming Japanese because he has a lot to gain from doing so (especially professionally)
  	* enjoyed being a prominent member of society
  	* wants further promotion of professional identity
  * NOT ABOUT nationalism, but opportunism
  * at this point Taiwan didn't have de facto loyalism to any specific government (other than themselves/ their own wellbeing and advancement in society)
  * talks about colonialism needs to be complicated (not just some discussino of opressor/ oppressed)
  	* colonials will do a lot of things to advance themselves
  * the doctor's professional identity is very well-respected
  	* very much interwoven with his professional identity -> one is used to enhance the other
  * out of respect for mother, values take a back seat, some exploration of abandoning cultural identity
  * him wanting to wear a kimono earlier in the story, he wants to always ignore what she wants him to do, etc etc
  * not casting mother in negative light, but rather both are independent entitites
  * critique of "japanization"? -> author wants people to reserve some Chinese virtue (filial piety, respect for the poor)
  
  2 kinds of Taiwanese mentalities presented
  * one represented by the son
  * other represented by mother/ beggar
  * son "wins" -> if Zhuoliu is speaking to ROC, he is trying to ask how the government handles this identity shift is incredibly important
  	* how do you deal with people like the protagonist of the story?
  * after the guang uf (ROC sends in lots of teachers from China to teach Taiwanese kids Chinese) -> chaos ensued
  	* Chinese teachers hated Japanese influence and the Taiwanese as a result
  	* people struggled for a long time as a result, things were impossible
  	* teachers had very heavy accents
  	* nobody could even understand Chaing Kai-shek
  	
  Zhong Lihe - From the Old Country
  * lived mostly in Southern Taiwan
  * sojourned with his wife in Manchuria/ Beijing for a few years
  * spent most of his life in abject poverty and bad health
  * taught himself classical Chinese
  * was almost not allowed to return to Taiwan, had to petition numerous times to be allowed back to Taiwan
  * ambivalent identification with China/ Old Country
  	* after so many generations of living in Taiwan, China becomes more of a monolithic entity, "original country"
  * Japanese socialization/ teaching influences this
  * 
'''
tags: []
isStarred: false
isTrashed: false
