type: "MARKDOWN_NOTE"
folder: "10da02197944423d3888"
title: "CH.1 - Paths to a Green World"
content: '''
  # CH.1 - Paths to a Green World
  Market liberal
  * better economy = more money = all boats rise = more willpower to improve environment
  * World Bank/ WTO/ World Business Council for Sustainable Development
  * globalization = positive force
  * short-term environment is bad, but long-term environment is better off
  * environmental degradation is due to poor economic growth
  * use moderate estimates of env. damage and optimistic measures for the future
  
  Institutionalist
  * economic growth = good for environment
  * stress the need for institutions to create the norms and regulations that allow for prosperity and therefore greater environmental benefit
  * worry more (than market liberals) about scarcity, pop. growth, inequalities between states
  * global-level environmental agreements lul
  
  Bioenvironmentalists
  * stress biological limits of earth to support life
  * humans consume too much
  * population growth is a key stressor in env. problems
  * infinite economic growth also sucks
  * globalization = bad
  
  Social Greens
  * Inequality = unequal resource access = unequal exposure to environmental harms
  * large-scale industrial life is destructive -> higher env. damage and inequality
  * population-control schemes are a threat to the self-determination of the poor and of women
  * globalization = bad
  * dismantle everything and start over
  * "think globally, act locally"
  * empower the marginalized
  
  
'''
tags: [
  "paths_to_a_green_world"
]
isStarred: false
isTrashed: false
createdAt: "2017-09-05T15:44:17.778Z"
updatedAt: "2017-09-05T17:35:12.016Z"
