type: "MARKDOWN_NOTE"
folder: "10dee89e4e96c3c3135f"
title: "Kamat"
content: "# Kamat"
tags: [
  "Week_5"
  "incomplete"
  "reading"
]
isStarred: false
isTrashed: false
createdAt: "2017-10-05T18:25:12.122Z"
updatedAt: "2017-10-05T18:25:22.394Z"
