type: "MARKDOWN_NOTE"
folder: "3cd38cae717eddf0d743"
title: "Kim et. al"
content: '''
  # Kim et. al
  ### Limited good and limited vision: multidrug-resistant tuberculosis and global health policy 
  
  short course chemo to kill drug-resistant TB
  PIH arguments for treating MDR-TB:
  * (1)  Historically, attention to MDR-TB has actually brought more attention to the global problem of TB and increased funding (Klaudt, 2000). The goal of the TB community should focus on using the threat of MDR-TB to dramatically increase overall fund- ing for TB, rather than seeing TB funding as a zero- sum game.
  * (2)  Great care must be taken in arguing that it is ever ‘‘immoral’’ to treat sick, poor patients (the same logic, we noted, was stalling efforts to treat AIDS in Africa).
  * (3)  The price of treating MDR-TB was artificially high as a result of an entirely tractable market failure and prices of drugs could be lowered with appropriate, relatively simple interventions. (Farmer & Kim, 1998).
  * (4)  Repeated cycles of short-course chemotherapy, which was the recommendation for poor countries at the time for patients failing treatment, are neither effective nor benign, since they lead to exacerbation of the problem through the phenomenon of ampli- fication. (Furin et al., 2000).
  * (5)  The rise of explosive epidemics of MDR-TB in Russian prisons (Farmer, 1999c), and also the rising tide of HIV-associated TB in many areas of the world, required dramatically scaled-up responses to these diseases.
  * (6)  The virulence and transmissibility of MDR-TB was still not well understood and there was evidence that drug-resistant strains of M. tuberculosis could be just as difficult to control as drug-sensitive ones (Gupta , Raviglion, & Espinal, 2002b).
  * (7)  Responding promptly to MDR-TB would be much more ‘‘cost-effective’’ than waiting until it was a much larger and more expensive problem to solve (Gupta et al., 2001a; Gupta, Raviglione, & Espinal, 2001b). 
'''
tags: [
  "incomplete"
  "reading"
  "Week_5"
]
isStarred: false
isTrashed: false
createdAt: "2017-10-05T15:42:47.722Z"
updatedAt: "2018-07-12T20:32:18.364Z"
