createdAt: "2018-03-20T16:40:58.670Z"
updatedAt: "2018-03-20T17:56:57.339Z"
type: "MARKDOWN_NOTE"
folder: "fe559436bd547e5b239b"
title: "Identity Politics in Taiwan"
content: '''
  ## Identity Politics in Taiwan
  1987 - marks a new age in Taiwanese history
  * is as important as 1945 and 1895
  * 1895: colonization of Taiwan by Japan
  * 1949: rep. of china/ nationalist gov't retreated to taiwan, martial laws were enforced
  * 1987: martial laws were lifted- Taiwanization begins (heavy industrialization)
  	* it is now legal and allowed to talk about your own Taiwanese heritage and speak in Taiwanese dialect (before you had to learn Mandarin or you had to learn Japanese while they were under Japanese rule)
  	* a lot of streets in Taipei had names changed
  	* about 2 million Chinese mainlanders retreated with Chiang Kai-Shek to Taiwan, majority were military (men)
  		* most left families behind, they had to retreat very quickly
  * all textbooks were sinocentric (Chinese history), as if Taiwan did not exist
  * asdf
  
  a lot of Taiwanese writers take this grand narrative and history and replace them with smaller histories
  * writers try to legitimize the authority of Taiwanese over Taiwan vs. the PRC's authority over Taiwan
  * making light of and challenging the situation at hand
  * this kidnof reflection is very commonly found in Taiwan litreature in the 80s/ 90s and onwards
  * of course taiwan lit is part of chinese literature, now taiwanese lit is taiwanese lit and chinese lit is chinese lit (separate entities)
  * purposefully has separate and distinct categories for chinese, taiwanese, and hong kong literature
  	* these types of works are distinct
  
  Taiwan's 3 "Others":
  * China/ Chinese culture
  * Japan/ Japanese culture
  * US/ American culture
  
  US is Taiwan's big brother
  * the apple
  * most Taiwanese are unaware of Taiwan's subjugation to the US/ the extent of teh control of the United States over Taiwan
  * gov't had an unhealthy reliance on US gov't to help Taiwanese
  * hints of neocolonialism, foreign concessions in 1940s
  * the apple is symbolic of US aid/ western culture/ modernity/ American dream -> but at what cost?
  
  #### Huang Chumming - "The Taste of Apples"
  * apples taste bad msot of the time
  	* except fiji apples
  	* fiji apples fuckin rule
  * exploitation is rly nice
  * G E N U I N E L Y
  * difference between colonization and international assistance
  	* economic colonization, agenda is clear and there is an explicit take over of government and culture/ values
  	* int'l assistance is p wild
  * there is a movie abotu this which is W I LD
  * watch it
  * different narrative/ language styles demonstrates language barriers and differences in fundamental characters in the story
  
  l m fma w  aooo o o oooooo ooo
  Some of the Taiwanese writers are very strictly in support of communism in response to capitalist development in Taiwan
  
  #### "An Oxcart for a Dowry"
  * about a wife who is not very pretty, husband is selectively deaf (lmaO)
  * wife has a lover who has p bad BO
  * incredibly disfunctional characters
  * this story is p weird, contrasted with stories on Thursday, incredbily unusual and unique (mainstream publication/ writing was about anti-communism and nostalgia for China)
  	* this kind of writing (and taste of apples) are called minor literature (even though tey were written by the Taiwanese), and they depcit a majority of the Taiwanese population
  
  Aboriginal reality is important as well in minor Taiwanese culture
'''
tags: []
isStarred: false
isTrashed: false
