type: "MARKDOWN_NOTE"
folder: "10da02197944423d3888"
title: "October 3, Class 11"
content: '''
  # October 3, Class 11
  uh oh
'''
tags: []
isStarred: false
isTrashed: false
createdAt: "2017-10-05T16:43:36.388Z"
updatedAt: "2017-10-05T16:43:49.720Z"
