type: "MARKDOWN_NOTE"
folder: "10da02197944423d3888"
title: "October 3, Class 11"
content: '''
  # October 3, Class 11
  
  Recap of last time:
  •Env. pros/cons of trade
  •Definition of urbanization 
  •Phases of urban development: commercial, industrial, corporate 
  •Forms of urban development: concentric zone, sector, polycentric
  How do cities develop?
  Two explanations:
  •Urban ecology
  ◦Cities take shape based on key variables such as new technologies and transportation
  ▪Elevators = centralization
  ▪Superhighways = decentralization
  ◦Groups adapt by reorganizing and relocating
  ◦Pattern reflects self interested actors operating in a free market
  •Political economy
  ◦The reach for profit leads to new technoloifes and transportation ethos
  ▪Business decisions are the cause, not the consequence of new technologies
  ◦Economic expansion increases development
  ◦The quest for profit drives most urban activity
  
  Key Actors 
  Influencers of urban patterns - know this and what they do to facilitate growth/change 
  •Property capitalists (may be most important actors in your urban environment)
  ◦Developers
  ▪Buy up/produce space for businesses
  ▪Engage in leveraging money from an initial project
  ◦Speculators
  ▪Purchase land and wait for it to increase in value
  •Local government officials 
  ◦THREE WAYS OF SHAPING URBAN PATTERNS
  ▪Passing regulation (zoning)
  ▪Offering incentives (TIF’s)
  ▪Can be categorized in different ways: Aiding or obstructing development
  ▪Growth machines vs. progressive regimes
  •Corporations
  ◦How do they make decisions about location and how does that impact operations that affect urban patterns 
  ▪Agglomeration: businesses tend to cluster
  ▪Profit cycles: where growth is initially rapid, then plateaus, then declines - can tell us why companies locate where they do
  ▪Looking to maximize profits by getting better taxes in other places
  ◦Location of ownership is also important, local companies tend to incorporate community interests
  ◦Use the model: [econ/poli conditions —> investment decisions —> econ/poli conditions —> etc.]
  
  Urban growth and change in the US
  •Since 1950, the number of people living in metro areas has risen from 63% to 80%
  •In 1950, 60% of people living in metro areas were located in the central city
  •By 2000, 60% were located in the suburbs
  
  SPRAWL
  •Key Characteristics
  ◦Unplanned
  ◦Low density
  ◦Segregated land uses
  ◦Auto centric
  •Do people naturally prefer it?
  •Is it good or bad? In the US?
  ◦Surprising findings?
  ◦Limits?
  
  Political Transformations
  Political boundaries
  Annexation/consolidations
  •Cities increase pop. thru political decisions about boundaries
  •Early efforts were driven by suburban need for city infrastructure and services
  •As middle class expanded to suburban locations, many rested annexation/consolidation
  
  Social Transformations
  Suburbs
  •Decrease in public space
  ◦Privatize malls, pools, gated communities
  •Suburban cultural life
  ◦McDonaldization, Disneyfication
  •Racial segregation
  ◦central city v. suburb
  ◦differentiation between suburbs
  
  Sprawl: Environmental Consequences
  For the readings listed below that discuss sprawl, consider the following questions:
  1)What does sprawl do to an urban area's set of flows
  2) Generally, what are sprawl's environmental impacts?  How is it inefficient?
  3) Are these concerns overstated by planners/policymakers? Why/why not?  Why do some support sprawling development patterns?
  Primary Air Pollutants 
  
  Photochemical smog
  
  Air quality index
  
  As a social construction, pol-lution and regulation are subject to the political process
  
  Cubatao and “The Valley of Death”
  
  Pollution in Indian cities
  
  Airborne lead
  
  Indoor air pollution
'''
tags: []
isStarred: false
isTrashed: false
createdAt: "2017-10-05T16:43:36.388Z"
updatedAt: "2017-10-19T01:44:11.406Z"
