type: "MARKDOWN_NOTE"
folder: "10da02197944423d3888"
title: "September 14, Class 6"
content: '''
  # September 14, Class 6
  #### NEXT WEEK 
  Tues: Chapter 4 Paths to a Green World 
  Thus: Exam 
  
  ## Global and Local Environmentalism
  
  Recap Last Class: 
  Global environmentalism and how we reached that global consciousness and concerns for developed countries either in colonialist form or just in the form of conservation 
  
  How it evolved over time and coincides with global transition from globalization 2.0 to 3.0 
  Convergence in 60’s & 70’s (peak environmentalism in the form of activism and scholarship, orgs working on the global level to do something about these problems) 
  
  Note: lens of the Worldviews 
  
  Sustainable development is influenced mostly by institutionalists and market liberals 
  
  GLOBAL COOPERATION (understand what came out of those conferences, not so much dates, but know the order) 
  Stockholm (1972): 
  •UNEP, soft law
  •questions of reconciling growth and environmental protection
  
  World Commission on Env. and Dev. (1984):  
  •Our Common Future
  
  Rio Summit (1992): 
  •Agenda 21
  •Framework Convention on Climate Change
  •Convention on Biological diversity 
  
  Johannesburg/Copenhagen/Rio+20:
  •Rise of PPP’s outlines plans for implementing more (Type 2 arrangements)
  •Voluntary GHG (Greenhouse Gas Emissions) agreements
  •Puts in place the taskforce for sustainable dev. on the local level
  
  Habitat III (2016): 
  •Focus on sustainable urbanization and how it will look on the ground in the implementation phase
  ◦Unplanned development (Shift away from just developing countries and moved toward all sorts of unplanned growth in cities across all regions; Argues for more urban planning on the regional scale)
  ◦Urban inequality 
  •New Urban Agenda
  ◦20yr urbanization strategy
  ◦statement of the global task force
  •Different in its character and the people that participate (@local governments)
  
  TASK FORCE REPORT
  Major Arguments
  •Move to empower local governments, make sure they’re at the table and part of global assemblies
  •Urbanization needs to be embedded in most of the work the UN does
  
  Participants
  •Nation-states (why stop there? why need more?)
  ◦Is the nation state outdated? Should we consider working primarily through the local?
  •International Instituions, regimes (many of which rose in the 70’s)
  ◦World Bank
  •NGO’s
  ◦Recent rise to the point to where they are not only invited but expected to be at the table
  •Business
  •Regional/local
  •Informal
  ◦Informal networks developed by individuals as a result of global internet/tech connections that facilitate complex degrees of participation
  
  URBAN ENVIRONMENTALISM (LOCAL)
  
  Early Urban Park Movements 
  
  Urban Greening
  •expression of environmentalism in most of our major cities
  •collection of efforts to improve the national and built environment of communities
  ◦mitigating air pollution, daylighting urban streams and rivers, 
  
  Urban Pollution
  •industrial cities
  ◦dirty: death and disease
  ◦burning rivers
  ◦toxic waste, brownfields
  
  Environmental Decade
  cities take action: London and Chicago first int he world to take action to regulate air quality 
  Key national policies in US (politically active period for congress) 
  •National Environmental Policy Act
  •Clean Air Act
  •Clean Water Act
  •Endangered Species Act
  •Resource Conservation and Recovery Act
  
  Response
  •Policies: regulatory approaches in developed cities
  •NGO’s: State and local version of NGO growth is important to keep in mind esp in the 70’s
  ◦WorldWatch, World Resources Institute
  •Sustainable Cities: (networks are a powerful response to global env. concerns)
  ◦City Collaborations
  ▪ICLEI: networks and builds capacity for local cities and towns to plan; related and complementary to Agenda 21
  ▪KNOW: they primarily do planning and capacity building for achieving sustainablitlgy 
  ▪C40 Cities: smaller, but more powerful than ICLEI because of the scale 
  ▪100 Resilient Cities
  
  Resistance
  Who is resisting global env. and why? 
  •Rise of antigovernment sentiment
  •the rise of Neoliberalism (Reagan, Thatcher), promoting growth & economic expansion over the cost to the environment 
  •denying of the science and human impact
  
  EXAM REVIEW
  Know about the groups, organized opposition 
  
  40-50 multiple choice 
  2-4 short answer 
  80 minutes 
  includes readings and black board folders (includes week 4) 
  
  Class presentations 
  readings on blackboard 
  paths to a green world 1-4 
  1, 4, 10 for cities in nature 
  Focus on the things we’ve read, readings are more important than class lectures 
  
  Globalization
  •major trends and characteristics
  •globalization 1-3.0 and how 3.0 is different from other iterations
  
  Urbanization 
  •roughly around 2008 1/2 of world pop lived in urban
  •major trends
  •correlation with economic growth
  
  World Views 
  •FOCUS ON THESE and what they have to say
  •general framework, what they say about state of env., globalization and economic growth
  
  State of the environment? Resilience or crisis? Why? 
  How they make their case for globalization and econ growth? 
  know the arguments, AND THE EVIDENCE 
  
  Global environmentalism 
  know the major debates, structure of local governance, what’s come out of conferences 
  
  urban environmental 
  what is urban greening and pollution is like, 
  how we responded, rise of NGO’s, inc. movement in cities for sustainable like the network approach  
  AND RESPONSES 
  growth debate kuznets curve, market liberals,  
'''
tags: [
  "Week_3"
]
isStarred: false
isTrashed: false
createdAt: "2017-09-17T23:54:01.093Z"
updatedAt: "2017-09-19T17:11:13.198Z"
