type: "MARKDOWN_NOTE"
folder: "071e5170ca09b2db4fe9"
title: "Arch website"
content: '''
  Arch website
  
  Join Us Page
  
  About Page
  * mission statement
  * previous commpetition success
  * things we do
  	* case comps
  	* pro bono
  * alumni network
  
  Members Page
  * exec partition
  * active members partition
  
  Contact Us page
  
  accent blue
'''
tags: []
isStarred: false
isTrashed: false
createdAt: "2017-09-13T20:43:11.506Z"
updatedAt: "2017-09-13T20:53:13.587Z"
