createdAt: "2018-03-22T16:41:40.097Z"
updatedAt: "2018-03-22T17:55:46.076Z"
type: "MARKDOWN_NOTE"
folder: "fe559436bd547e5b239b"
title: "Literary Modernism and Nihilism"
content: '''
  # Literary Modernism and Nihilism
  
  Bai Xianyoung
  * in 1960, collaborated with his classmates to create modern literature
  	* along with author of the tunnel
  	* written in Chinese
  * went to study literature in university of iowa
  
  "Winter Nights"-Space and Time
  * Mainland China
  * The USA
  * Taiwan
  * discussion of may fourth movement, very depressing
  	* there were all these excited college students but then they at the end were like "we didn't fucking do anything"
  	* youthful energy
  * lamentation/ nostalgia
  * contrasting the mainstream discourse
  * Mainland China - Loyalist complex, connected to history or the past, especially through the professor
  * US represents an esacpe for older people, for younger people it'll be a pragmatic choice
  * Taiwan- mark of colonial history of Taiwan, social situations, in-between, some vacuum of culture
  	* the wife of Professor Yu, they got married after he comes to Taiwan
  		* this character seems to undertsand the professor really well but does not care about his friends and doesn't care about hosting the guests (in strict contrast with the last wife who was more ingrained in the family structure)
  		* husband and current wife does not seem to understand each other
  
  Chen Yingzhen-rocking a sick sweater-"My Kid Brother Kangxiong"
  * 1937-2016
  * actual name is Chen Yongshan
  * lots of "melancholy" in this short story
  	* narrator (sister) - death
  		* conflicted about her marriage
  			* does so for her father, to ensure she can get the wealth or w/e that the father could never secure
  			* also considered rebellious and potentially like a martyr
  			* had a young boyfriend painter, with long hair etc, but still marries rich puper class dude
  			* she transitions from poverty to wealth, brother says that poverty causes someone to be incredibly basic while wealth causes someoen to lose sensitivity -> how does this affect her sense of rebellion?
  			* social status is a major part of the rebellion
  	* brother 
  		* poverty (and wealth)
  		* spirituality or religion
  		* internal struggle
  		* sexual desire
  * social status
  	* commiting suicide is a big sin in Christianity
  		* justifyign her brother's death is practically a rebellion against religion, and religion is very intertwined with high society, power, and wealth
  		* therefore, she rebels against religion and wealth
  * a demonstration of the hypocrisy of religion and of social status
  * Taiwanese society is inherently inequal, there's a contrast between society and the brother's idea of utopia
  * idealistic people were received and treated poorly in Taiwanese society, thsi type of nihilism is present storngly in this kind of literature
  * sister would rebel against the social reality, but by marrying into a rich family she also rebels against her own past
  	* there is no way for her to live peacefully and securely
  
  Wang Wen-Hsing, "Flaw" A Coming of Age Story
  * 1939-now
  * first gen mainland writer in Taiwan
  * also went to Iowa's writers workshop
  * finding flaws within ideals/ idealistic images of people
  * setting a stage for the protagonist to grow up
  * parent figures are important here
  
  Parental figures are important in these 3 stories
  * specifically mother figures
  
  
'''
tags: []
isStarred: false
isTrashed: false
