type: "MARKDOWN_NOTE"
folder: "10dee89e4e96c3c3135f"
title: "August 29, Class 1"
content: '''
  # August 29, Class 1
  
  Health Healing and Ethics: Introduction to Medical Anthropology
  L48 Anthro 3310
  
  ## __Course grades__
  
  * .25 - reflection essay on an end of life case
  * .25 - reflection essay on _When Breath Becomes Air_
  * .2  - 4 quizzes
  * .3  - take home final
  
  ## Global Health Issues  
  Global health is defined as a set of political, economic, ethical, social problems that extend far beyond provision of medical technology. Whose responsibilities are these challenges? What are some primary health risks and to which populations? What might be our objectives in the domain of global health?
  
  [_The ethics of killing: problems at the margin of life_](https://cryptome.org/2013/01/aaron-swartz/0195079981.pdf)
'''
tags: [
  "Week_1"
]
isStarred: false
isTrashed: false
createdAt: "2017-08-29T15:01:55.923Z"
updatedAt: "2017-08-29T16:18:26.637Z"
