createdAt: "2018-01-30T17:39:49.163Z"
updatedAt: "2018-07-12T20:31:55.097Z"
type: "MARKDOWN_NOTE"
folder: "3cd38cae717eddf0d743"
title: "Engendering New Women for Nation Building (2)"
content: '''
  # Engendering New Women for Nation Building (2)
  ### Shen Congwen - "Xiao Xiao"
  #### Born in 1902, died in 1988
  * little formal education
  * served in army for a few years
  * went to Beijing @20 to become a writer
  * secretary to a General, had the opportunity to read Dickens and classical Chinese literature
  * moved to Beijing, audited classes and self-taught on writing/ literature
  * began to publish articles in all kinds of magazines
  * writing centered on the Western part of Hunan (?), his home province (semi-frontier areas of Hunang province), travel/ reflection on hardship or rural lives
  * went to Shanghai and involved himself in the literary movements/ uprising
  	* produced his best works here, (30's, 1937)
  	* continued to teach in Sichuan after the war
  	* didn't feel compelled to continue writing after the war and shifted to research
  	* research on material culture, served as the national curator of the material palace (?)
  	* didn't suffer too much during the cultural revolution bc of his retreat into academia (was lucky)
  XiaoXiao
  * representative of his lyrical type of writing
  * notions being challenged
  	* female chastity
  	* arranged marriage
  	* filial piety
  	* child bride
  	* male child being valued over all else
  * child bride -> typically done for financial gain
  	* for male family -> gaining child bride results in free help, free nanny (free labor)
  * in movie adaptation, there is a widow with a secret boyfriend, boyfriend is discovered, guy is beaten severely, widow has a daughter from previous marriage, village custom has the wdiow drowned (or could be sold off)
  * contrasts in story
  	* coeds vs confucian idea of women
  	* urban vs rural life
  	* child (Sonny) vs. Motley Mutt
  	* destiny vs. freedom
  * how does Xiaoxiao fit into this?
  	* duality of motherhood vs. virgin/ young innocent
  	* dutiful vs independence
  	* malleable (everything just sorta happens), naive/ innocent
  * what is she figuratively?
  	* intellectuals at the time in 1929 are trying to break down the old Confucian ideals
  	* Shen Congwen attempts to humanize this breakdown, and better direct this in an escapist attitude (traeting Xiaoxiao as a "bud" as self-described in the story)
  	* this kind of stance goes hand-in-hand with Centralist style/ Shen Congewen's style
  	* in Chinese the story is very lyrical embodies simplicity/ empathy (rural in a sense)
  	* freedom in Chinese (neologism -> comes from Japan), does XiaoXiao really understand what freedom is?
  		* she latches onto different ideas of what freedom is: Motley, co-ed, means of escape
  		* the co-ed becomes an ideal for her new child
  	* the cycle repeats most likely? who knows?
  	* co-ed is an empty concept that signifies something fancy, intellectual
  
  Ye Shaojun "A Posthumous Son"
  * became a teacher after he graduated from middle school
  * became an editor of 2 important journals
  	* one is a major publishing house
  	* another is a book company
  * met leaders of the May Fourth movement, got involved in a new cultural movement
  * interested in children/ children's issues
  * interested in spirituality/ religion
  * interested in neo-confucianism
  * interested in Christianity/ Buddhism
  * very standard literary editor/ writer then transformed into a scholar, after '49, suffered from the uprising like other editors but survived
  * published in 1926
  
  The Posthumous Son
  * wife is treated like an animal
  * 7 daughters, 1 son, son dies
  * wife is a willing victim, both husband and wife are comforting each other
  * heir is representative oc cultural equity/ village's approval
  
  Ailing Chang "Sealed Off"
  * born in 1901-1995
  * she is considered the most gifted Chinese writer to emerge in the 40s
  * Shanghai native, comes from a distinguished family, grandfather was the highest statesman to the Qing Dynasty
  * her father was a domestic tyrant her and her brother suffered greatly bc of father's abuse
  * father locked both of them up in the basement and didn't provide food/ water
  * mother was a bonafide "new woman" (travels to Europe, fashionable, etc), imposed those ideals on Ailing Chang
  * went to Hong Kong to study in 1952, produced her novels
  	* came to United States in 1955, lived in NY
  	* attached herself to Columbia University, worked in East Asian library
  	* a big writer in Shanghai in 30s/ 40s
  	* very savvy in marketing herself (mother's imposition of the independent woman comes through here)
  	* English was good but her literature wasn't very popular in United States
  		* intricate interpersonal relationships within big families; these kinds of stories were too nuanced for English readers
  		* first husband was a major playboy/ intellectual/ writer
  		* 2nd husbadn was secondrate American writer -> husband got sick
  		* became recluse after moving to California (posthumous 2nd husband)
  		* stories were considered soap opera-esque in China, stories were popular in Hong Kong and Taiwan,
  		* only spoke through her literary agent, Ailing Cheng's death was major news
  			* old Chinese lady in LA, is a recluse, has a routine
  			* landlord finds her dead in her apartment
  			* found lying in her mattress dressed nicely
  			* neat stacks of newspapers and empty cans (what the hell)
  	* usage of old motifs/ cliches and combines them with more modern themes in order to understand what Chinese modernity really means
  	* needs validation from "men" or from "society" 
  
  
  Ling Shuhua, "The Night of Mid-Autumn Festival"
  * really is is about marriage and what it means to women
  	* what comes before marriage (what is education to women? what do women really want? is it education?) -> if every woman wants a marriage, what kind of marriage does that entail?
  
  Ding Ling "When I Was in Xia Village"
  * published in 1941, has adopted socialist ideology
  * is very beourgouis in the 30s, turned towards socialism/ communicsm and is indoctrinated in the idea of revolution
  * kidnapped by the Japanese, was raped, got to get info for the communists (recruited by communist party), is a spy for the Chinese communist party
  * contracted disease during her work, came back (Chinese get her back)
  * sacrifices herself to fight the Japenese aggresion -> willing to do that for the Communist party because she believes in the cause
  * was humiliated by her village -> she was not considered pure due to Japanese treatment (villagers dont understand the sacrifice/ work she's done for her country)
  * one dude is willing ot marry her, willing to restore her standing, but she refuses (wouldn't improve her future prospects and how she wasn't worth it), disillusioned/ doesn't buy into this guy's life and having a traditional path
  * she wants to go somewhere new -> wants to go to where Chairman Mao is (yenghang? LOOK THIS UP) -> represents hope
  	* communist party is the savior
  * narrator -> ding ling, she's sick, was discriminated by her colleagues (was an excuse) and came to the village
  	* lost favor in the party and was sent to a remote village (to "rest")
  	* at the core of the party
  	* understands the political reality of the core party
  	* tells her to take marriage (ding ling later got into trouble bc of this story)
  * Ding Ling is being brutally honest with herself in this story -> her idealism is almost naive
'''
tags: []
isStarred: false
isTrashed: false
