createdAt: "2018-02-27T17:41:40.093Z"
updatedAt: "2018-07-12T20:31:40.527Z"
type: "MARKDOWN_NOTE"
folder: "3cd38cae717eddf0d743"
title: "Post Socialist China: Whose Reality? (2)"
content: '''
  # Post Socialist China: Whose Reality? (2)
  In post socialist China, writers were tasked with the following:
  * redefining the self (who am I? what is the self?)
  	* China under Mao and that iteration of CCP focused purely on the collective
  	* subjectivity/ the self became a driving force for literature
  * modernization
  	* new policies following gang of four/ Mao's reign and new global economic order
  	* China begins to participate in global economy
  	* new economic policies
  	
  How does Post Mao China look like? Post-socialist China
  * rise of capitalism/ capitalist culture
  * market economy/ market's influence on literary production
  * writers write to make money, not ONLY to follow directives of the party
  	* individuality combined with the need to market and sell the self caused anti-collectivist ideals to form
  * anti-imperialism as a form of nationalism is part of Mao's legacy
  * following Mao, nationalism now means reasserting the pride and strength of the Chinese nation and people, as opposed to focusing on a common enemy
  * traumatic memories in the aftermath of cultural revolution/ Mao era
  	* younger generation of writers were young kids during this time
  	* way they recapture this time through their memories is through more abstract writing/ avant-garde narrative strategies
  	* the shadow of this horrific past that is haunting the back of their imagination
  
  Thinking about history in the abstract sense
  * short stories for today's class are very experimental and what 
  
  ### Yu Hua
  * parents were physicians, grew up during cultural revolution and therefore saw a lot of mayhem and death/ blood
  	* this dude loves to write about violence in a more beautiful and aesthetic? ethetic ?way
  * studied to become a dentist
  * has many publications/ short stories/ novles ("To Live", "Brothers", "The Chronicle of a Blood Merchant", "China in Ten Words") -> controversial/ important publications
  * has no qualms with challenging the gov't, challenging issues that are not supposed to be in public discourse -> has never gotten into trouble bc his wirting is very abstract
  * well-travelled, is interviewed in many different countries
  #### On the Road at Eighteen
  * strange af things happen
  * is walking down a road, finds a trucker w a broken truck, befriends driver, they eventually drive off
  * truck breaks down, people start pillaging truck, truck driver is doing nothing, protag tries to intervene and gets his ass kicked
  * ppl keep pillaging, truck driver finally takes his red backpack w/ his omney and leaves
  * protag actually was involved in a multi-layered highway robbery
  * emotionally detached writing, "he's stealing my backpack" etc
  * is this allegorical?
  	* how is protag situated?
  	* yu hua is reflecting on modernization and the dissolution of morality in the post-mao era
  	* the truck driver, despite being a victim, still stole from him
  	* a coming of age story
  	
  ### Chen Ran
  #### Sunshine Between the Lips
  * born in 1962
  * also avant garde writer
  * writes about privacy, especially in post-mao China
  	* privacy especially from the woman's perspective
  * also writes a lot about women's sexuality
  * "ultimate sense of privacy is when her protag, a young woman, retreats back to her room and her bathtub in particular"
  * 1982-86 toured europe
  * interpolation of first/ third person voices from past/ present tenses
  * her fear of a needle
  	* tied to her sexual abuse as a child
  	* childhood friend is an adult man, would expose himself to her, but the extent of the  sexual abuse is not known
  	* the extent is not important but the impact of any such abuse is the focal poitn of the story
  * in the present, Dai Er seems incapable of becomingn intimate, and a bizarre set of circumstances allow her to resolve those fears/ emotions
  * dentist is her boyf in the present, the profession is known for not being super fun for the recipients of dentistry
  * you can see Dai Er workign through her issues at the end of the story, dentist and workign on her wisodm teeth is analogous to her workign through lots of pain in a way that she didn't enjoy (who the ehck likes dentist)
  * the flipside of the coin of her sexuality is her vulnerability -> 
  
  so how is female sbjectivity asserted?
  * what does it mean to be a woman? without being subjugated to man/ without this or that, how does a woman assert herself? self-agency/ sense of self
  * does Dai Er submit herself to her boyf/ dentist?
  * political reading -> forget about the trauma and move on
  * mouth is numbed, sunshine hetween the lips, is there an irony in her new freedom?
  
  ### Ge Fei
  #### Green Yellow
  * reading was very hard to udnersatnd
  * talk of futility, understanding how things work by using only definitions? is that okay?
  * this story was all over the place
  * nothing can be pinned down
  * kind o fthe point, at the end, old guy was sleepwalking, but also young girl was raped that night so there's an allusion to causality
  * is it possible that the old man is Chang?
  * avant garde writing -> writer deliberately leaves a lot of holes/ inconcisstencies that reader has to figure out/ fill the gaps
  * 2 motifs governing post-mao literature
  	* so what is subjectivity? what is agency? Ge Fei is tryign to figure that out -> defining this so that it can be placed and used in the story properly
  	* to reconstruct: to construct the subjectivity/ story, but a definition is needed before any of this can occur
  * writings published in 80s/ 90s were trying to understand tehse things, what is the path? what is the truth? what is the subject?
  * the question of subjectivity also requires to deconstruct, construct/ reconstruct
  * Ge Fei is one of the best avant garde writers in this regard -> nothing as prolific as his contemporaries, but still veyr important
  * born in 1964, professor of Chinese literature, is kind of a hidden gem
  * old man told story of outsider/ father daughter pairs
  * narrator digressed to talk about his prior visit to the village in 1967
  	* year after cultural revolution
  	* important, bc it wont be hit by censorship
  * two kind of narratives goign on in this story as well
  * im so lost
  * emeril dies mysteriously? save him
  * more investigations.....
  * empty coffin -> wild
  * how do you find any original point of history? where do terms originate? what do they mean? how does etymology work?
  	* related to CCP's publishing of historical documents regarding political issues; CCP controls interpretation of history, you dont ask where things originated/ where,how,why
  	* ge fei is raising a metaphorical question here about origin
  	* the question of origin is related distinctly to the question of history, not specifically one history, but numerous small histories (e.g. when does a villager innitially come to teh village?)
  * the narrator is investigatingn himself, and the very act of investigating is itself provocative
  
  Topic of subjectivity in nthis piece
  * none of these characters stick to our minds bc we dont know who they are, there are no developed personas in this story
  * postulation of "maybe we can never know true subjectivity?" -> deconstruction of subjectivity
  * ge fei tends to negate what he tells, constant unncertainty of language, no anchor in terms of time or plot, there is never any assurrance that history is real
  	* hence the reason for investigationn
  * the past is a problematic notion -> we cannnnot pinpoint it, how does the past manifest itself in this story?
  	* hard to pinpoint events or timelinen, nobody is sure what has happened
  	potential reflection on how nobdoy knows what happenend during teh Mao era
  	* simple represenntationn o fa fugue state/ uncertainty, confusion
  	* can we find truth? nobody knows rip
  
  dictionary definition can be foudn, but can it be trusted? dictionaries are compiled by linguists, and language/ definitions change over time
  * turnign thsi concept fo the "definitionn? on its head, if language itself is unncertain, then what is certain?
  
  ### Gao Xingjian
  #### The Accident
  born in 1940, oldest of this group,
  * won nobel prize in literature, Chinese dont acknowledge him
  * primarily a playright, stage director
  * not rly a great novelist
  * also a painter, makes abstract paintings, makes traditional Chinnese brush paintings w European/ US styles
  * 1957 - graduated from Beijing foreign studies unniversity, sent up to the mountains to work during revolution
  * 1977 - worked for committee of foreignn relationsn
  * 1979 - went to visit france with group of other Chinese, was a party member but was sitll able to go abroad which means he was priveleged
  * 1985 - got invited to visit Europe to tour for his paintingns
  * 1987 - invited to Germanny for his paintinngs, decided to defect and went to Europe as a political refuge, became political resident of France (1988)
  * 1989 - Tianamen Square June 4, openly burned his CCP membership card, makes public declaration vs the party, open gesture of protest (hence gov't's refusal to recognize nobel prize in 2000)
  
  Who is involved in the accident?
  * large tram, small bicycle
  * man died in the accident
  * story is not about the accident itself, but rather about fate/ destiny? story is filled with other characters however
  * story about crowd mentality/ mob mentality/ being a bystander
  * even though he was hit, nobody really cares about him and people passively forget about "the accident" as if nothing had happened
  * existential dimension about the absurdity of existence -> the accidental and chaotic nature of life and death (by accident we are born, and by accident we die)
  * portaryal of crowd and their mentality reveals taht different people and different witnesses see different things, people have different perspectives/ perceptions of the accident
  * almost like stage play -> usage of parallax, (math term), looking at geometric object from different views to get a more complete notion of the actual object
  * just like the body in this story is cleaned up and stored away, history can also be "cleaned up," stowed away, and forgotten
'''
tags: []
isStarred: false
isTrashed: false
