type: "MARKDOWN_NOTE"
folder: "3cd38cae717eddf0d743"
title: "September 21, Class 8"
content: '''
  # September 21, Class 8
  ## Ecological Footprints & Unequal Exchange
  
  non-academia
  Tues: Exam 1  
  shit
  
  Brown bag lunch, Oct. 2  
  12-1, AB Hall, Room 311  
  Climate Change Law: What exists; What is in play  
  Maxine Lipeles
  
  Next Thurs. - Ch. 5 & Unequal Exchange
  
  
  Growth and Cities
  - When it comes to the ecological footprint
  * Cities generate 80% of global GDP
  * Cities have higher per capita GDP than their hinterlands and rural areas
  * Cities provide added benefits for growth
  * Why do cities cluster?
  	* General clustering phenomenon - notion of agglomeration
  		* important to the idea of economic growth
  		* important to both cities and firms within cities
  		* markets are more interconnected
  		* economic growth attracts more people, urban sprawl allows for the creation of other population centers
  		* Natural advantages - location (parallel to rivers/ coastlines, other geography)
  		* local assets - adminisrtation/ infrastructure
  			* government, regulatory bodies, etc
  		* larger labor market
  	* Attributes of globally competitive urban economy
  		* high skill/income employment
  		* production of environmentally neutral goods
  			* e.g. silicon valley
  * 
  
  
  Human capital is the largest factor in global competitiveness within cities
  
  Cities and Creativity
  * openness to LGBTQ (uh) would increase creativity
  * software engineering degrees, graduate degrees, art degrees
  * higher creativity index (investment in the three T's) leads to more economic activity
  	* Three T's: talent, technology, tolerance
  * some of the empirical evidence is mixed, e.g. Florida (high creativity but not the expected economic growth to accompany it)
  * Cities generally provide the opportunity for lots of interaction, diversity is essential to higher economic growth
  	* Diversity on a human level is just as important -> greater innovation  
  
  ![it's dat boi](http://martinprosperity.org/wp-content/uploads/2012/06/Creativity-Index-Map_500px.jpg)
  
  
  Steady State Economy
  - ### KNOW WHAT THIS IS, AND HOW IT IS DIFFERENT FROM OTHER GROWTH PARADIGMS
  * an economy where constant physical stocks are maintained at desired levels with a minimal rate of throughput
  	* stocks = wealth and people
  	* throughput = birth/ death rates; production/ consumption
  * growth happens "sustainably" -> there isn't stagnation
  	* innovation can occur
  * focus on throughput growth vs. developmental growth
  	* growth in production/ consumption vs. growth in things that matter like innovation/ HDI
  
  ![bruh](http://slideplayer.com/slide/4385218/14/images/7/A+reallocation+of+natural+capital+from+nature%E2%80%99s+economy+to+human+economy+in+the+process+of+generating+economic+growth+(and+social+change+and+welfare+).jpg)
  
  
  Jared Diamond's Work - _Collapse_
  * just read a synospis on the book
  
  
  Paul Ehrlich measure of the ecological footprint
  * EF = a measure of human impact on the environment that translates human consumption into hectares of productive land
  	* scalable -> can calculate footprints at individual, neighborhood, city levels
  
  
  [Ecological Footprint of Countries: Deficit or Reserve?](https://www.youtube.com/watch?v=6g49bL9f7mU)
  * just watch this
  * translating human consumption into 5/6 different uses
  * built-up land (cities), fishing grounds, grazing land, forest land, carbon footprint
  
  ![bruh](http://www.overshootday.org/wp/wp-content/uploads/2015/07/footprint-components_recrop.jpg)
  ![also this](http://images.slideplayer.com/47/11721975/slides/slide_19.jpg)
  
  We have surpassed our biocapacity -> we are taking more than the earch can generate
  
  ![big if true](http://i877.photobucket.com/albums/ab340/capsweb/Blog/chart1_zpsuygsidfr.jpeg)
  
  
  The ecological footprint
  * Reese's Findings:
  	* globally, NA footprint is the largest
  	* Vancouver, CA(nada) footprint requires 174 times the amount of land to sustain itself
  	* wealthy cities are responsible for over 70% of resource depletion/ pollition
  * Urban ecological footprints
  	* urban footprints generally exceed their biocapacity
  		* cities are not operating within their boundaries/ states
  	* ecological impact is not tied to geography
  	* urban residents may have smaller per capita footprints
  		* average US: approx. 11ha
  		* average US urbanite: approx 6.5ha (hectares)
  	* Cities are not sustainable but cities are necessary to achieve sustainability
  	* does not take into account per capita footprints
  * City vs. Suburb: what has a smaller footprint? city footprints might be better than suburban, national, and small town footprints
  	* Not all cities operate under the national average
  	* ![hm](http://images.slideplayer.com/35/10421956/slides/slide_8.jpg)
  
  
  Class thoughts on this ish
  * only accounts for the carbon footprint, and nothing else
  * cropland/ grazeland is always in equilibrium
  * doesn't account for destruction/ diminishing biocapacity
  	* soil erosion
  	* rising sea levels
  * hard to translate this theory into concrete policy
  * hard to figure out anything regarding intensity
  
  
  Actual critique
  * cropland -> biocapacity/ consumption footprint are by definition always roughly equal, therefore cannot detect any substantial depletion/ surplus of natural capital in croplands, therefore can't indivate the sustainability or unsustainability of this land category
  * grazing land -> same with croplands
  * the other parts are on blackboard i didn't have enough time to write this down
  
  ![wildin](https://thebreakthrough.org/images/elements/journal.pbio.1001700.g001_main.png)
  Global forest averages have increased, but tropical forest coverage has decreased -> biodiverse places losing forestland is more urgent than Russia losing forest land
  
  There's a San fran example here which I can't find the picture for
  * they eat a lot of carbon though
  * and also drive a lot of carbon
  * shit is wild
  
  #### in future exams: we might need to calculate footprint and how to apply it in critiquing it
  
  
  Ecologically unequal exchange
  * capitalism fuckin sucks
  * e.g. Jamaica
  * countries advantageously situated in the global economy promote disproportionate access to ecosustem services
  	* m e r c a n t i l i s m
  	* poor countries in the global economic system
  	* countries that operate outside the system (semi-peripheral)
  	* countries that operate totally outside of it (trade with semi-peripheral)
  * consequence of globalization, free trade
  * system of inequality and where ecological shadows (AND THEN HE FUCKING trAILED OFF)
  * TRES COMPONENTS
  	* environmental cost shifting - displacement ecological costs of consumption
  		* moving production of a good to another country so they bear the environmental/ ecological burden
  	* uncompensated use of environmental space - ef debtors/ creditors
  		* spaces that use/ create heavy carbon emissions but that aren't paid for
  		* we don't pay Brazil for all the carbon they create on our behalf
  	* environmental degradation and underdevelopment - LDCs over-exploit their resources in an attempt to compete
  		* capitalism still fuckin sucks
  		* poverty spiral -> nations have to engage in a losing game where they sell resources for very vheap and therefore can't actually profit or grow
  * undervaluation of natural resources
  	* "poor sell cheap"
  	* power relations
  		* industrial lobbies
  		* multinational corporations
  		* international financial obligations
  			* debt financing
  	* social greens? in my economy? it's more common than you might think.
  		* marxism? in my poli sci classes? it's more common than you might think.
  	* the global economy is heavily stratified because of power relations and the over-exploitation of less-developed countries
  
  
  Deforestation
  * countries with highest deforestation rates (95-05)
  	* honduras (37%) IPC ($1649)
  	* nigeria (36%) (1347)
  	* phillipines, 32% 1501
  	* ghana 28%, 1507
  	* indonesia 26%, 2100
  * these nations are being over-exploited for their natural resources while income per capita (IPC) remains low
  
  [GO TO PAGE 5 OF THIS](https://www.researchgate.net/profile/Daniel_Moran4/publication/257342737_Does_Ecologically_Unequal_Exchange_Occur/links/574d4b3b08ae061b3301f1f5/Does-Ecologically-Unequal-Exchange-Occur.pdf)
  
  Ecologically unequal exchange
  * shows how ecological impacts are hidden
  	* ecological SHADOWS of global capitalism
  * demonstrates inequality beyond and addition to wealth and poverty
  * explains uneven development
  * how would this change proposals for global cap and trade
  * explains why many countries don't make it over the Kuznet's curve hump
  * modern mercantilism
  * SOLUTION: we could compensate countries for being our carbon sinks/ for taking our shit or letting us take their natural resources
  	* problems: this doesn't reinforce the moral imperative of not over-exploitation
  	* the poor still experience the impacts of environmental degradation
  	* many countries don't have the resources to keep up
  	* we might consume even more if there is now just a financial imperative
  
  
  Debt Financing
  * [The Food Print Network](http://www.footprintnetwork.org/content/documents/ecological_footprint_nations/index.html)
  * LDCs suffer from comparatively high debt levels
  * Often LDCs finance in order to compete in the global economy
  * How would this look inf the global economy accounted for ecological impact?
  
  
  Nature Swaps
  * mechanism for green financing
  * trade nature for debt
  * can operate at many scales
  * often requires a third party broker
  * buy the debt, use the interest to pay for the resources, allows for resource conservation and better compensation
'''
tags: [
  "Week_4"
]
isStarred: false
isTrashed: false
createdAt: "2017-09-21T16:38:02.197Z"
updatedAt: "2018-07-12T20:32:42.924Z"
